# Capítulo 12 - Lab 4

Criar um container Docker para uso do PostgreSQL.

~~~bash
docker pull postgres # Baixar a imagem do PostgreSQL
# Inicializa um container docker chamado "dsa" com SGBD PostgreSQL, user "postgres" e senha "dsa123":
docker run --name dsa -e POSTGRES_PASSWORD=dsa123 -p 5432:5432 -d postgres
# --name dsa: nome do container
# -e POSTGRES_PASSWORD=dsa123: senha do usuário postgres
# -p 5432:5432: mapeamento da porta 5432 do container para a porta 5432 do host
# -d: execução em background
~~~

In [3]:
# Importando bibliotecas:
from platform import python_version
print('Versão Python:', python_version(), '\n')

import findspark
findspark.init() # Inicializando o findspark

import psycopg2
import pandasql
import sqlalchemy
import pandas as pd
from pandasql import sqldf # sqldf serve para rodar queries SQL em DataFrames Pandas
from psycopg2.extensions import ISOLATION_LEVEL_AUTOCOMMIT # isolation level autocommit serve para não precisar ficar dando commit a cada operação no banco de dados
from sqlalchemy import create_engine # create_engine serve para criar uma conexão com o banco de dados
from pyspark.sql import SparkSession # SparkSession serve para criar uma sessão Spark
from pyspark.sql.functions import udf # udf serve para criar funções definidas pelo usuário


%reload_ext watermark
%watermark -a "gustavogzr" --iversions

Versão Python: 3.11.1

Author: gustavogzr

psycopg2  : 2.9.9
pandasql  : 0.7.3
pandas    : 2.0.3
sqlalchemy: 2.0.35
findspark : 2.0.1

## Carregando dados com Pandas

In [5]:
# Carregando o df1 com dados dos nomes de jogadores de futebol:
df1 = pd.read_csv(".arquivos_DSA/dados/dataset1.csv", index_col = False)
df1.head()

                Name                               url
0  Cristiano Ronaldo  /player/20801/cristiano-ronaldo/
1       Lionel Messi      /player/158023/lionel-messi/
2             Neymar            /player/190871/neymar/
3        Luis Suárez  /player/176580/luis-su%C3%A1rez/
4       Manuel Neuer      /player/167495/manuel-neuer/

In [6]:
df1.shape

(17588, 2)

In [7]:
df1.dtypes

Name    object
url     object
dtype: object

In [8]:
# Carregando o df2 com dados de nomes de clubes de futebol:
df2 = pd.read_csv(".arquivos_DSA/dados/dataset2.csv", index_col = False)
df2.head()

             Name                       url
0       FC Bayern       /team/21/fc-bayern/
1     Real Madrid    /team/243/real-madrid/
2    FC Barcelona   /team/241/fc-barcelona/
3        Juventus        /team/45/juventus/
4  Manchester Utd  /team/11/manchester-utd/

In [9]:
df2.shape

(633, 2)

In [10]:
# Carregando o df3 com dados de nomes de seleções de futebol:
df3 = pd.read_csv(".arquivos_DSA/dados/dataset3.csv", index_col = False)
df3.head()

        Name                    url
0      Spain      /team/1362/spain/
1    Germany    /team/1337/germany/
2     Brazil     /team/1370/brazil/
3    Belgium    /team/1325/belgium/
4  Argentina  /team/1369/argentina/

In [11]:
df3.shape

(47, 2)

In [12]:
# Carregando o df4 com dados de estatísticas de jogadores de futebol:
df4 = pd.read_csv(".arquivos_DSA/dados/dataset4.csv", index_col = False)
df4.head()

,Name,Nationality,National_Position,National_Kit,Club,Club_Position,Club_Kit,Club_Joining,Contract_Expiry,Rating,...,Long_Shots,Curve,Freekick_Accuracy,Penalties,Volleys,GK_Positioning,GK_Diving,GK_Kicking,GK_Handling,GK_Reflexes
0,Cristiano Ronaldo,Portugal,LS,7.0,Real Madrid,LW,7.0,07/01/2009,2021.0,94,...,90,81,76,85,88,14,7,15,11,11
1,Lionel Messi,Argentina,RW,10.0,FC Barcelona,RW,10.0,07/01/2004,2018.0,93,...,88,89,90,74,85,14,6,15,11,8
2,Neymar,Brazil,LW,10.0,FC Barcelona,LW,11.0,07/01/2013,2021.0,92,...,77,79,84,81,83,15,9,15,9,11
3,Luis Suárez,Uruguay,LS,9.0,FC Barcelona,ST,9.0,07/11/2014,2021.0,92,...,86,86,84,85,88,33,27,31,25,37
4,Manuel Neuer,Germany,GK,1.0,FC Bayern,GK,1.0,07/01/2011,2021.0,92,...,16,14,11,47,11,91,89,95,90,89

In [13]:
df4.shape

(17588, 53)

In [14]:
# Resumo estatístico do df4:
df4.describe()

,National_Kit,Club_Kit,Contract_Expiry,Rating,Age,Weak_foot,Skill_Moves,Ball_Control,Dribbling,Marking,...,Long_Shots,Curve,Freekick_Accuracy,Penalties,Volleys,GK_Positioning,GK_Diving,GK_Kicking,GK_Handling,GK_Reflexes
count,1075.000000,17587.000000,17587.000000,17588.000000,17588.000000,17588.000000,17588.000000,17588.000000,17588.000000,17588.000000,...,17588.000000,17588.000000,17588.000000,17588.000000,17588.000000,17588.000000,17588.000000,17588.000000,17588.000000,17588.000000
mean,12.219535,21.294536,2018.899414,66.166193,25.460314,2.934103,2.303161,57.972766,54.802877,44.230327,...,47.403173,47.181146,43.383443,49.165738,43.275586,16.609620,16.823061,16.458324,16.559814,16.901183
std,6.933187,19.163741,1.698787,7.083012,4.680217,0.655927,0.746156,16.834779,18.913857,21.561703,...,19.211887,18.464396,17.701903,15.871735,17.710839,17.139904,17.798052,16.600741,16.967256,18.034485
min,1.000000,1.000000,2017.000000,45.000000,17.000000,1.000000,1.000000,5.000000,4.000000,3.000000,...,4.000000,6.000000,4.000000,7.000000,3.000000,1.000000,1.000000,1.000000,1.000000,1.000000
25%,6.000000,9.000000,2017.000000,62.000000,22.000000,3.000000,2.000000,53.000000,47.000000,22.000000,...,32.000000,34.000000,31.000000,39.000000,30.000000,8.000000,8.000000,8.000000,8.000000,8.000000
50%,12.000000,18.000000,2019.000000,66.000000,25.000000,3.000000,2.000000,63.000000,60.000000,48.000000,...,52.000000,48.000000,42.000000,50.000000,44.000000,11.000000,11.000000,11.000000,11.000000,11.000000
75%,18.000000,27.000000,2020.000000,71.000000,29.000000,3.000000,3.000000,69.000000,68.000000,64.000000,...,63.000000,62.000000,57.000000,61.000000,57.000000,14.000000,14.000000,14.000000,14.000000,14.000000
max,36.000000,99.000000,2023.000000,94.000000,47.000000,5.000000,5.000000,95.000000,97.000000,92.000000,...,91.000000,92.000000,93.000000,96.000000,93.000000,91.000000,89.000000,95.000000,91.000000,90.000000

## Conectando ao SGDB PostgreSQL no Docker

In [15]:
# Criar a conexão com o banco de dados PostgreSQL:
pgconn = psycopg2.connect(host = '192.168.15.19', user='postgres', password='dsa123')

In [16]:
# Abre um cursor para executar comandos SQL:
pgcursor = pgconn.cursor()
# Objeto cursor:
pgcursor

In [17]:
# Define o nível de isolamento para a conexão:
pgconn.set_isolation_level(ISOLATION_LEVEL_AUTOCOMMIT)

In [18]:
# Drop do banco de dados (se existir):
pgcursor.execute('DROP DATABASE IF EXISTS db_dsa')

In [19]:
# Cria o banco de dados:
pgcursor.execute('CREATE DATABASE db_dsa')

In [20]:
# Fecha o cursor:
pgconn.close()

## Conectando ao Banco de Dados no SGDB PostgreSQL no Docker

In [23]:
# Criar a conexão com o banco de dados db_dsa:
pgconn = psycopg2.connect(host = '192.168.15.19', database = 'db_dsa', user='postgres', password='dsa123')
pgconn.status

1

## Criando Engine SQL Alchemy de Conexão ao Banco de Dados

In [24]:
# Criar engine SQLAlchemy:
engine = create_engine('postgresql+psycopg2://postgres:dsa123@192.168.15.19/db_dsa')
# Verificar status da conexão:
engine.connect()

## Carregando os dados do Pandas para o Banco de Dados PostgreSQL

In [25]:
# to_sql para salvar o DataFrame no banco de dados:
# engine é a conexão com o banco de dados
# if_exists='replace' serve para substituir a tabela se ela já existir
# index=False serve para não salvar o índice do DataFrame no banco de dados
df1.to_sql('tabela_df1', engine, if_exists='replace', index=False)
df2.to_sql('tabela_df2', engine, if_exists='replace', index=False)
df3.to_sql('tabela_df3', engine, if_exists='replace', index=False)
df4.to_sql('tabela_df4', engine, if_exists='replace', index=False)

340

## Carregando os dados do PostgreSQL para o Pandas usando PandaSQL

In [26]:
# Verificando o número de linhas de uma das tabelas:
pd.read_sql_query('SELECT COUNT(*) FROM tabela_df2', engine)

   count
0    633

In [27]:
# Query de consulta aos metadados para obter detalhes de uma tabela:
pd.read_sql_query('''
                  SELECT ordinal_position, column_name, data_type
                  FROM information_schema.columns
                  WHERE table_name = 'tabela_df4'
                  ''', engine).head(10)

   ordinal_position        column_name data_type
0                53        GK_Reflexes    bigint
1                41            Heading    bigint
2                42         Shot_Power    bigint
3                43          Finishing    bigint
4                44         Long_Shots    bigint
5                45              Curve    bigint
6                46  Freekick_Accuracy    bigint
7                47          Penalties    bigint
8                48            Volleys    bigint
9                49     GK_Positioning    bigint

In [29]:
# Carregar todos os dados de uma tabela PostgreSQL em um DataFrame Pandas:
df_tabela_df4 = pd.read_sql('SELECT * FROM tabela_df4', engine)
df_tabela_df4.head()

,Name,Nationality,National_Position,National_Kit,Club,Club_Position,Club_Kit,Club_Joining,Contract_Expiry,Rating,...,Long_Shots,Curve,Freekick_Accuracy,Penalties,Volleys,GK_Positioning,GK_Diving,GK_Kicking,GK_Handling,GK_Reflexes
0,Cristiano Ronaldo,Portugal,LS,7.0,Real Madrid,LW,7.0,07/01/2009,2021.0,94,...,90,81,76,85,88,14,7,15,11,11
1,Lionel Messi,Argentina,RW,10.0,FC Barcelona,RW,10.0,07/01/2004,2018.0,93,...,88,89,90,74,85,14,6,15,11,8
2,Neymar,Brazil,LW,10.0,FC Barcelona,LW,11.0,07/01/2013,2021.0,92,...,77,79,84,81,83,15,9,15,9,11
3,Luis Suárez,Uruguay,LS,9.0,FC Barcelona,ST,9.0,07/11/2014,2021.0,92,...,86,86,84,85,88,33,27,31,25,37
4,Manuel Neuer,Germany,GK,1.0,FC Bayern,GK,1.0,07/01/2011,2021.0,92,...,16,14,11,47,11,91,89,95,90,89

In [30]:
df_tabela_df4.shape

(17588, 53)

In [31]:
# Carregar somente os dados das colunas indicadas:
select_df = pd.read_sql('tabela_df4', engine, columns=['Name', 'Age', 'Speed', 'Height', 'Weight'])
select_df.head()

                Name  Age  Speed  Height Weight
0  Cristiano Ronaldo   32     92  185 cm  80 kg
1       Lionel Messi   29     87  170 cm  72 kg
2             Neymar   25     90  174 cm  68 kg
3        Luis Suárez   30     77  182 cm  85 kg
4       Manuel Neuer   31     61  193 cm  92 kg

In [32]:
select_df.shape

(17588, 5)

## Usar Linguagem SQL em DataFrames Pandas

In [33]:
# Função lambda com sqldf:
pysqldf = lambda q: sqldf(q, globals())

In [34]:
type(pysqldf)

function

In [35]:
# Definição da query:
query = 'SELECT * FROM select_df LIMIT 5'

In [36]:
# Aplicar a função lambda com a query:
pysqldf(query)

                Name  Age  Speed  Height Weight
0  Cristiano Ronaldo   32     92  185 cm  80 kg
1       Lionel Messi   29     87  170 cm  72 kg
2             Neymar   25     90  174 cm  68 kg
3        Luis Suárez   30     77  182 cm  85 kg
4       Manuel Neuer   31     61  193 cm  92 kg

In [37]:
# Executar a função e gravar a saída em um novo DataFrame:
df_sqldf_1 = pysqldf(query)
type(df_sqldf_1)

pandas.core.frame.DataFrame

In [38]:
df_sqldf_1

                Name  Age  Speed  Height Weight
0  Cristiano Ronaldo   32     92  185 cm  80 kg
1       Lionel Messi   29     87  170 cm  72 kg
2             Neymar   25     90  174 cm  68 kg
3        Luis Suárez   30     77  182 cm  85 kg
4       Manuel Neuer   31     61  193 cm  92 kg

In [52]:
# Definição da query:
query = '''
        SELECT Age AS Idade, AVG("Speed") AS "Velocidade Média", count(*) AS "Número de Jogadores"
        FROM select_df
        GROUP BY Age
        ORDER BY Age
        '''

In [53]:
# Aplicar a função e gravar a saída em um novo DataFrame:
df_sqldf_2 = pysqldf(query)
df_sqldf_2

    Idade  Velocidade Média  Número de Jogadores
0      17         62.280255                  157
1      18         63.440901                  533
2      19         64.053785                 1004
3      20         65.536424                 1208
4      21         66.754181                 1196
5      22         67.621980                 1283
6      23         68.194690                 1356
7      24         68.244599                 1296
8      25         68.352453                 1447
9      26         68.457741                 1195
10     27         68.513228                 1134
11     28         66.624650                 1071
12     29         66.275362                 1104
13     30         64.625587                  852
14     31         62.926647                  668
15     32         60.776014                  567
16     33         60.008361                  598
17     34         55.615142                  317
18     35         53.258475                  236
19     36         47.817610                  159
20     37         45.950980                  102
21     38         42.880000                   50
22     39         40.625000                   24
23     40         40.625000                   16
24     41         30.333333                    6
25     42         40.000000                    2
26     43         40.666667                    3
27     44         36.000000                    3
28     47         25.000000                    1

## Carregar dados do PostgreSQL para o Apache Spark

In [54]:
# Criar sessão Spark:
spark = SparkSession.builder.master('local').appName('Lab4').getOrCreate()

In [55]:
# Carregar os dados do PostgreSQL em um DataFrame do Pandas:
df = pd.read_sql('SELECT * FROM tabela_df1', engine)
df.head()

                Name                               url
0  Cristiano Ronaldo  /player/20801/cristiano-ronaldo/
1       Lionel Messi      /player/158023/lionel-messi/
2             Neymar            /player/190871/neymar/
3        Luis Suárez  /player/176580/luis-su%C3%A1rez/
4       Manuel Neuer      /player/167495/manuel-neuer/

In [60]:
type(df)

pandas.core.frame.DataFrame

In [57]:
# Converter o DataFrame do Pandas para um DataFrame do Spark:
df_spark = spark.createDataFrame(df)
df_spark.show(5)

+-----------------+--------------------+
|             Name|                 url|
+-----------------+--------------------+
|Cristiano Ronaldo|/player/20801/cri...|
|     Lionel Messi|/player/158023/li...|
|           Neymar|/player/190871/ne...|
|      Luis Suárez|/player/176580/lu...|
|     Manuel Neuer|/player/167495/ma...|
+-----------------+--------------------+
only showing top 5 rows

In [58]:
df_spark.printSchema()

root
 |-- Name: string (nullable = true)
 |-- url: string (nullable = true)

In [59]:
df_spark.schema

StructType([StructField('Name', StringType(), True), StructField('url', StringType(), True)])

In [62]:
df_spark.describe("Name").show()

+-------+----------------+
|summary|            Name|
+-------+----------------+
|  count|           17588|
|   mean|            NULL|
| stddev|            NULL|
|    min|  A.J. DeLaGarza|
|    max|Željko Filipović|
+-------+----------------+

In [63]:
df_spark.describe("url").show()

+-------+--------------------+
|summary|                 url|
+-------+--------------------+
|  count|               17588|
|   mean|                NULL|
| stddev|                NULL|
|    min|/player/100557/br...|
|    max|/player/9833/died...|
+-------+--------------------+

## Apache Spark SQL para Manipulação de Dados

In [64]:
# Carregando uma nova tabela
df_1 = pd.read_sql('SELECT * FROM tabela_df4', engine)

In [65]:
# Converter o dataframe para um dataframe spark
df_1_spark = spark.createDataFrame(df_1)
df_1_spark.printSchema()

root
 |-- Name: string (nullable = true)
 |-- Nationality: string (nullable = true)
 |-- National_Position: string (nullable = true)
 |-- National_Kit: double (nullable = true)
 |-- Club: string (nullable = true)
 |-- Club_Position: string (nullable = true)
 |-- Club_Kit: double (nullable = true)
 |-- Club_Joining: string (nullable = true)
 |-- Contract_Expiry: double (nullable = true)
 |-- Rating: long (nullable = true)
 |-- Height: string (nullable = true)
 |-- Weight: string (nullable = true)
 |-- Preffered_Foot: string (nullable = true)
 |-- Birth_Date: string (nullable = true)
 |-- Age: long (nullable = true)
 |-- Preffered_Position: string (nullable = true)
 |-- Work_Rate: string (nullable = true)
 |-- Weak_foot: long (nullable = true)
 |-- Skill_Moves: long (nullable = true)
 |-- Ball_Control: long (nullable = true)
 |-- Dribbling: long (nullable = true)
 |-- Marking: long (nullable = true)
 |-- Sliding_Tackle: long (nullable = true)
 |-- Standing_Tackle: long (nullable = true)
 |-- Aggression: long (nullable = true)
 |-- Reactions: long (nullable = true)
 |-- Attacking_Position: long (nullable = true)
 |-- Interceptions: long (nullable = true)
 |-- Vision: long (nullable = true)
 |-- Composure: long (nullable = true)
 |-- Crossing: long (nullable = true)
 |-- Short_Pass: long (nullable = true)
 |-- Long_Pass: long (nullable = true)
 |-- Acceleration: long (nullable = true)
 |-- Speed: long (nullable = true)
 |-- Stamina: long (nullable = true)
 |-- Strength: long (nullable = true)
 |-- Balance: long (nullable = true)
 |-- Agility: long (nullable = true)
 |-- Jumping: long (nullable = true)
 |-- Heading: long (nullable = true)
 |-- Shot_Power: long (nullable = true)
 |-- Finishing: long (nullable = true)
 |-- Long_Shots: long (nullable = true)
 |-- Curve: long (nullable = true)
 |-- Freekick_Accuracy: long (nullable = true)
 |-- Penalties: long (nullable = true)
 |-- Volleys: long (nullable = true)
 |-- GK_Positioning: long (nullable = true)
 |-- GK_Diving: long (nullable = true)
 |-- GK_Kicking: long (nullable = true)
 |-- GK_Handling: long (nullable = true)
 |-- GK_Reflexes: long (nullable = true)

In [66]:
# Selecionar as colunas do dataframe spark
df_select = df_1_spark.select('Name',
                              'Nationality',
                              'Club_Joining',
                              'Height',
                              'Weight',
                              'Age',
                              'Speed',
                              'Reactions')
df_select.show()

+------------------+-----------+------------+------+------+---+-----+---------+
|              Name|Nationality|Club_Joining|Height|Weight|Age|Speed|Reactions|
+------------------+-----------+------------+------+------+---+-----+---------+
| Cristiano Ronaldo|   Portugal|  07/01/2009|185 cm| 80 kg| 32|   92|       96|
|      Lionel Messi|  Argentina|  07/01/2004|170 cm| 72 kg| 29|   87|       95|
|            Neymar|     Brazil|  07/01/2013|174 cm| 68 kg| 25|   90|       88|
|       Luis Suárez|    Uruguay|  07/11/2014|182 cm| 85 kg| 30|   77|       93|
|      Manuel Neuer|    Germany|  07/01/2011|193 cm| 92 kg| 31|   61|       85|
|            De Gea|      Spain|  07/01/2011|193 cm| 82 kg| 26|   56|       88|
|Robert Lewandowski|     Poland|  07/01/2014|185 cm| 79 kg| 28|   82|       88|
|       Gareth Bale|      Wales|  09/02/2013|183 cm| 74 kg| 27|   95|       87|
|Zlatan Ibrahimović|     Sweden|  07/01/2016|195 cm| 95 kg| 35|   74|       85|
|  Thibaut Courtois|    Belgium|  07/26/2011|199 cm| 91 kg| 24|   52|       81|
|    Jérôme Boateng|    Germany|  07/14/2011|192 cm| 90 kg| 28|   81|       84|
|       Eden Hazard|    Belgium|  07/01/2012|173 cm| 74 kg| 26|   87|       85|
|       Luka Modrić|    Croatia|  08/01/2012|174 cm| 65 kg| 31|   71|       88|
|        Mesut Özil|    Germany|  09/02/2013|180 cm| 76 kg| 28|   68|       87|
|   Gonzalo Higuaín|  Argentina|  07/26/2016|184 cm| 92 kg| 29|   81|       86|
|      Thiago Silva|     Brazil|  07/01/2012|183 cm| 79 kg| 32|   76|       84|
|      Sergio Ramos|      Spain|  08/01/2005|183 cm| 75 kg| 31|   78|       82|
|     Sergio Agüero|  Argentina|  07/28/2011|173 cm| 70 kg| 28|   86|       88|
|        Paul Pogba|     France|  08/09/2016|191 cm| 84 kg| 24|   79|       86|
| Antoine Griezmann|     France|  07/29/2014|176 cm| 67 kg| 26|   86|       90|
+------------------+-----------+------------+------+------+---+-----+---------+
only showing top 20 rows

In [68]:
# Filtros 
df_select.where(
    (df_select['Age'] < 25) & (df_select['Speed'] > 80)
).show()

+--------------------+-----------+------------+------+------+---+-----+---------+
|                Name|Nationality|Club_Joining|Height|Weight|Age|Speed|Reactions|
+--------------------+-----------+------------+------+------+---+-----+---------+
|        Paulo Dybala|  Argentina|  07/01/2015|177 cm| 74 kg| 23|   86|       85|
|         David Alaba|    Austria|  02/10/2010|180 cm| 76 kg| 24|   86|       84|
|       Romelu Lukaku|    Belgium|  07/30/2014|190 cm| 94 kg| 23|   89|       77|
|    Yannick Carrasco|    Belgium|  07/10/2015|180 cm| 66 kg| 23|   89|       83|
|      Raphaël Varane|     France|  07/01/2011|191 cm| 78 kg| 23|   83|       79|
|         Eric Bailly|Ivory Coast|  07/01/2016|187 cm| 77 kg| 22|   83|       75|
|     Raheem Sterling|    England|  07/14/2015|170 cm| 69 kg| 22|   92|       79|
|     Anthony Martial|     France|  09/01/2015|184 cm| 76 kg| 21|   91|       81|
|       Mohamed Salah|      Egypt|  01/26/2014|175 cm| 72 kg| 24|   92|       80|
|          Sadio Mané|    Senegal|  07/01/2016|175 cm| 75 kg| 24|   92|       78|
|              Morata|      Spain|  07/01/2016|189 cm| 85 kg| 24|   86|       80|
|               Lucas|     Brazil|  01/01/2013|172 cm| 72 kg| 24|   91|       75|
|        Serge Aurier|Ivory Coast|  01/26/2012|176 cm| 76 kg| 24|   85|       82|
|     Ousmane Dembélé|     France|  07/01/2016|178 cm| 67 kg| 19|   91|       79|
|Federico Bernarde...|      Italy|  07/01/2011|183 cm| 75 kg| 23|   83|       78|
|    Domenico Berardi|      Italy|  07/01/2012|183 cm| 72 kg| 22|   85|       75|
|     Samu Castillejo|      Spain|  07/01/2015|182 cm| 67 kg| 22|   87|       79|
|       Leon Goretzka|    Germany|  07/02/2013|189 cm| 79 kg| 22|   84|       82|
|      Andrea Belotti|      Italy|  08/17/2015|181 cm| 72 kg| 23|   82|       78|
|     Michy Batshuayi|    Belgium|  07/04/2016|185 cm| 78 kg| 23|   84|       79|
+--------------------+-----------+------------+------+------+---+-----+---------+
only showing top 20 rows

In [69]:
# Fazer agregações
df_select.agg({'Speed': 'avg'}).show()

+-----------------+
|       avg(Speed)|
+-----------------+
|65.48385262679099|
+-----------------+

In [72]:
# Fazer agregações com group by por média de velocidade por idade
df_select.groupBy('Age').agg({'Speed': 'avg'}).orderBy('Age').show(10)

+---+-----------------+
|Age|       avg(Speed)|
+---+-----------------+
| 17|62.28025477707006|
| 18|63.44090056285178|
| 19|64.05378486055777|
| 20| 65.5364238410596|
| 21|66.75418060200668|
| 22| 67.6219797349961|
| 23|68.19469026548673|
| 24| 68.2445987654321|
| 25|68.35245335176226|
| 26|68.45774058577406|
+---+-----------------+
only showing top 10 rows

In [77]:
# Agrupamento, Agregação e Ordenação
df_select.groupBy('Weight' # Agrupar por Peso
                  ).agg({'Speed': 'avg'} # Calcular a média de Velocidade
                        ).orderBy('avg(Speed)', ascending=False # Ordenar pela média de Velocidade de forma decrescente
                                  ).show() # Mostrar o resultado

+------+-----------------+
|Weight|       avg(Speed)|
+------+-----------------+
| 49 kg|             85.0|
| 50 kg|             80.5|
| 59 kg|79.34782608695652|
| 56 kg|             77.1|
| 61 kg|75.70833333333333|
| 58 kg|75.47826086956522|
| 62 kg| 75.1592356687898|
| 60 kg|73.97435897435898|
| 57 kg|             73.2|
| 63 kg|73.09895833333333|
| 66 kg|           72.875|
| 65 kg|72.42163355408388|
| 64 kg|71.76530612244898|
| 68 kg|71.35082458770614|
| 67 kg|71.24511930585683|
| 55 kg|           70.625|
| 71 kg|70.52202283849918|
| 69 kg|70.31856540084388|
| 53 kg|             70.0|
| 54 kg|69.66666666666667|
+------+-----------------+
only showing top 20 rows

## User Defined Functions (UDF) no Apache Spark

User Defined Functions (UDF) são funções definidas pelo usuário que podem ser usadas para aplicar lógica personalizada em cada registro de um DataFrame. UDFs são uma maneira de estender as capacidades do Apache Spark para transformar dados.

In [78]:
df_select.describe('Speed').show()

+-------+------------------+
|summary|             Speed|
+-------+------------------+
|  count|             17588|
|   mean| 65.48385262679099|
| stddev|14.100614851107773|
|    min|                11|
|    max|                96|
+-------+------------------+

In [79]:
df_select.describe('Age').show()

+-------+------------------+
|summary|               Age|
+-------+------------------+
|  count|             17588|
|   mean|25.460313850352513|
| stddev| 4.680217413869141|
|    min|                17|
|    max|                47|
+-------+------------------+

In [80]:
# Média de velocidade por idade
df_select.groupBy('Age').agg({'Speed': 'avg'}).orderBy('avg(Speed)', ascending=False).show()

+---+------------------+
|Age|        avg(Speed)|
+---+------------------+
| 27| 68.51322751322752|
| 26| 68.45774058577406|
| 25| 68.35245335176226|
| 24|  68.2445987654321|
| 23| 68.19469026548673|
| 22|  67.6219797349961|
| 21| 66.75418060200668|
| 28| 66.62464985994397|
| 29| 66.27536231884058|
| 20|  65.5364238410596|
| 30|  64.6255868544601|
| 19| 64.05378486055777|
| 18| 63.44090056285178|
| 31| 62.92664670658683|
| 17| 62.28025477707006|
| 32| 60.77601410934744|
| 33|60.008361204013376|
| 34| 55.61514195583596|
| 35| 53.25847457627118|
| 36| 47.81761006289308|
+---+------------------+
only showing top 20 rows

Como calcular a média de velocidade por faixa etária?

In [81]:
# Função para criar faixa etária
def cria_faixa_etaria(age):
    if age < 20 :
        return '10-20'
    elif age < 30:
        return '20-30'
    elif age < 40:
        return '30-40'
    else:
        return '40+'

In [82]:
# Criar a função UDF
udf_agegroup = udf(lambda z: cria_faixa_etaria(z))

In [83]:
# Aplicar a função UDF
userDFAgeGroup = df_select.withColumn('AgeGroup', udf_agegroup('age'))

In [84]:
userDFAgeGroup.show()

+------------------+-----------+------------+------+------+---+-----+---------+--------+
|              Name|Nationality|Club_Joining|Height|Weight|Age|Speed|Reactions|AgeGroup|
+------------------+-----------+------------+------+------+---+-----+---------+--------+
| Cristiano Ronaldo|   Portugal|  07/01/2009|185 cm| 80 kg| 32|   92|       96|   30-40|
|      Lionel Messi|  Argentina|  07/01/2004|170 cm| 72 kg| 29|   87|       95|   20-30|
|            Neymar|     Brazil|  07/01/2013|174 cm| 68 kg| 25|   90|       88|   20-30|
|       Luis Suárez|    Uruguay|  07/11/2014|182 cm| 85 kg| 30|   77|       93|   30-40|
|      Manuel Neuer|    Germany|  07/01/2011|193 cm| 92 kg| 31|   61|       85|   30-40|
|            De Gea|      Spain|  07/01/2011|193 cm| 82 kg| 26|   56|       88|   20-30|
|Robert Lewandowski|     Poland|  07/01/2014|185 cm| 79 kg| 28|   82|       88|   20-30|
|       Gareth Bale|      Wales|  09/02/2013|183 cm| 74 kg| 27|   95|       87|   20-30|
|Zlatan Ibrahimović|     Sweden|  07/01/2016|195 cm| 95 kg| 35|   74|       85|   30-40|
|  Thibaut Courtois|    Belgium|  07/26/2011|199 cm| 91 kg| 24|   52|       81|   20-30|
|    Jérôme Boateng|    Germany|  07/14/2011|192 cm| 90 kg| 28|   81|       84|   20-30|
|       Eden Hazard|    Belgium|  07/01/2012|173 cm| 74 kg| 26|   87|       85|   20-30|
|       Luka Modrić|    Croatia|  08/01/2012|174 cm| 65 kg| 31|   71|       88|   30-40|
|        Mesut Özil|    Germany|  09/02/2013|180 cm| 76 kg| 28|   68|       87|   20-30|
|   Gonzalo Higuaín|  Argentina|  07/26/2016|184 cm| 92 kg| 29|   81|       86|   20-30|
|      Thiago Silva|     Brazil|  07/01/2012|183 cm| 79 kg| 32|   76|       84|   30-40|
|      Sergio Ramos|      Spain|  08/01/2005|183 cm| 75 kg| 31|   78|       82|   30-40|
|     Sergio Agüero|  Argentina|  07/28/2011|173 cm| 70 kg| 28|   86|       88|   20-30|
|        Paul Pogba|     France|  08/09/2016|191 cm| 84 kg| 24|   79|       86|   20-30|
| Antoine Griezmann|     France|  07/29/2014|176 cm| 67 kg| 26|   86|       90|   20-30|
+------------------+-----------+------------+------+------+---+-----+---------+--------+
only showing top 20 rows

In [85]:
# Calcular a média de velocidade por faixa etária
userDFAgeGroup.groupBy('AgeGroup').agg({'Speed': 'avg'}).orderBy('avg(Speed)', ascending=False).show()

+--------+------------------+
|AgeGroup|        avg(Speed)|
+--------+------------------+
|   20-30| 67.50301057770545|
|   10-20|63.696576151121604|
|   30-40| 59.62748390708089|
|     40+|37.645161290322584|
+--------+------------------+

In [86]:
# Função para criar faixa de velocidade
def cria_faixa_velocidade(speed):
    if speed < 50 :
        return 'Baixa Velocidade'
    elif speed < 80:
        return 'Velocidade Média'
    else:
        return 'Alta Velocidade'

In [88]:
# Criar a função UDF
udf_speedgroup = udf(lambda z: cria_faixa_velocidade(z))

In [89]:
# Aplicar a função UDF
userDFSpeedGroup = userDFAgeGroup.withColumn('SpeedGroup', udf_speedgroup('Speed'))

In [90]:
userDFSpeedGroup.show()

+------------------+-----------+------------+------+------+---+-----+---------+--------+----------------+
|              Name|Nationality|Club_Joining|Height|Weight|Age|Speed|Reactions|AgeGroup|      SpeedGroup|
+------------------+-----------+------------+------+------+---+-----+---------+--------+----------------+
| Cristiano Ronaldo|   Portugal|  07/01/2009|185 cm| 80 kg| 32|   92|       96|   30-40| Alta Velocidade|
|      Lionel Messi|  Argentina|  07/01/2004|170 cm| 72 kg| 29|   87|       95|   20-30| Alta Velocidade|
|            Neymar|     Brazil|  07/01/2013|174 cm| 68 kg| 25|   90|       88|   20-30| Alta Velocidade|
|       Luis Suárez|    Uruguay|  07/11/2014|182 cm| 85 kg| 30|   77|       93|   30-40|Velocidade Média|
|      Manuel Neuer|    Germany|  07/01/2011|193 cm| 92 kg| 31|   61|       85|   30-40|Velocidade Média|
|            De Gea|      Spain|  07/01/2011|193 cm| 82 kg| 26|   56|       88|   20-30|Velocidade Média|
|Robert Lewandowski|     Poland|  07/01/2014|185 cm| 79 kg| 28|   82|       88|   20-30| Alta Velocidade|
|       Gareth Bale|      Wales|  09/02/2013|183 cm| 74 kg| 27|   95|       87|   20-30| Alta Velocidade|
|Zlatan Ibrahimović|     Sweden|  07/01/2016|195 cm| 95 kg| 35|   74|       85|   30-40|Velocidade Média|
|  Thibaut Courtois|    Belgium|  07/26/2011|199 cm| 91 kg| 24|   52|       81|   20-30|Velocidade Média|
|    Jérôme Boateng|    Germany|  07/14/2011|192 cm| 90 kg| 28|   81|       84|   20-30| Alta Velocidade|
|       Eden Hazard|    Belgium|  07/01/2012|173 cm| 74 kg| 26|   87|       85|   20-30| Alta Velocidade|
|       Luka Modrić|    Croatia|  08/01/2012|174 cm| 65 kg| 31|   71|       88|   30-40|Velocidade Média|
|        Mesut Özil|    Germany|  09/02/2013|180 cm| 76 kg| 28|   68|       87|   20-30|Velocidade Média|
|   Gonzalo Higuaín|  Argentina|  07/26/2016|184 cm| 92 kg| 29|   81|       86|   20-30| Alta Velocidade|
|      Thiago Silva|     Brazil|  07/01/2012|183 cm| 79 kg| 32|   76|       84|   30-40|Velocidade Média|
|      Sergio Ramos|      Spain|  08/01/2005|183 cm| 75 kg| 31|   78|       82|   30-40|Velocidade Média|
|     Sergio Agüero|  Argentina|  07/28/2011|173 cm| 70 kg| 28|   86|       88|   20-30| Alta Velocidade|
|        Paul Pogba|     France|  08/09/2016|191 cm| 84 kg| 24|   79|       86|   20-30|Velocidade Média|
| Antoine Griezmann|     France|  07/29/2014|176 cm| 67 kg| 26|   86|       90|   20-30| Alta Velocidade|
+------------------+-----------+------------+------+------+---+-----+---------+--------+----------------+
only showing top 20 rows

In [91]:
# Média de velocidade por faixa de velocidade
userDFSpeedGroup.groupBy('SpeedGroup').agg({'Speed': 'avg'}).orderBy('avg(Speed)', ascending=False).show()

+----------------+------------------+
|      SpeedGroup|        avg(Speed)|
+----------------+------------------+
| Alta Velocidade| 84.59178082191781|
|Velocidade Média| 67.06720183486239|
|Baixa Velocidade|38.496548748921484|
+----------------+------------------+

## Encerrando as conexões e a sessão do Apache Spark

In [94]:
pgconn.close() # Fechar a conexão com o banco de dados
engine.dispose() # Fechar a conexão com o banco de dados
spark.stop() # Fechar a sessão Spark