# Cápitulo 03 - Arquivo 05

In [2]:
# Importando bibliotecas e imprimir versão:
from platform import python_version
print('Versão Python:', python_version(), '\n')

import pandas as pd
import numpy as np

%reload_ext watermark
%watermark -a "gustavogzr" --iversions

Versão Python: 3.11.1

Author: gustavogzr

pandas: 2.0.3
numpy : 1.25.2

## Operações com Series

In [4]:
matriz = [[9,4,3],[2,6,1],[7,5,8]] # Matriz de exemplo
matriz # Exibindo a matriz

[[9, 4, 3], [2, 6, 1], [7, 5, 8]]

In [5]:
df = pd.DataFrame(matriz) # Criando um DataFrame a partir da matriz
df # Exibindo o DataFrame

   0  1  2
0  9  4  3
1  2  6  1
2  7  5  8

In [6]:
type(df) # Verificando o tipo do objeto

pandas.core.frame.DataFrame

In [7]:
linha = df.iloc[0,:] # Acessando a primeira linha
linha # Exibindo a primeira linha

0    9
1    4
2    3
Name: 0, dtype: int64

In [8]:
type(linha) # Verificando o tipo do objeto

pandas.core.series.Series

In [9]:
coluna = df[0] # Acessando a primeira coluna
coluna # Exibindo a primeira coluna

0    9
1    2
2    7
Name: 0, dtype: int64

In [10]:
type(coluna) # Verificando o tipo do objeto

pandas.core.series.Series

In [11]:
serie_pandas = pd.Series(['a','b','c','d','e']) # Criando uma série do pandas
serie_pandas # Exibindo a série

0    a
1    b
2    c
3    d
4    e
dtype: object

In [12]:
serie_pandas.index # Exibindo os índices da série

RangeIndex(start=0, stop=5, step=1)

In [13]:
serie_pandas.values # Exibindo os valores da série

array(['a', 'b', 'c', 'd', 'e'], dtype=object)

In [14]:
serie_pandas.dtype # Exibindo o tipo de dados da série

dtype('O')

In [15]:
serie_pandas.shape # Exibindo a forma da série

(5,)

In [16]:
serie_pandas = pd.Series(['a','b','c',10,True], index = [10,20,30,40,50]) # Criando uma série com tipos de dados diferentes
serie_pandas # Exibindo a série

10       a
20       b
30       c
40      10
50    True
dtype: object

In [18]:
serie_pandas.index # Exibindo os índices da série

Index([10, 20, 30, 40, 50], dtype='int64')

In [20]:
serie_pandas.dtype # Exibindo o tipo de dados da série

dtype('O')

In [19]:
serie_pandas.values # Exibindo os valores da série

array(['a', 'b', 'c', 10, True], dtype=object)

In [23]:
serie_pandas = pd.Series(['a','b','c',10,True]) # Criando uma série com tipos de dados diferentes
serie_pandas # Exibindo a série

0       a
1       b
2       c
3      10
4    True
dtype: object

In [22]:
serie_pandas.dtypes # Exibindo o tipo de dados da série

dtype('O')

In [25]:
serie_pandas[0] # Acessando o primeiro elemento da série

'a'

In [26]:
type(serie_pandas[0]) # Verificando o tipo do objeto

str

In [27]:
serie_pandas[3] # Acessando o quarto elemento da série

10

In [28]:
type(serie_pandas[3]) # Verificando o tipo do objeto

int

In [29]:
serie_pandas[4] # Acessando o quinto elemento da série

True

In [30]:
type(serie_pandas[4]) # Verificando o tipo do objeto

bool

In [32]:
resultado = serie_pandas[3] + 1 # Somando um valor inteiro a um valor da série
resultado # Exibindo o resultado

11

In [33]:
lista = ['Data','Science','Academy'] # Criando uma lista
lista # Exibindo a lista

['Data', 'Science', 'Academy']

In [34]:
serie_pandas = pd.Series(lista) # Criando uma série a partir de uma lista
serie_pandas # Exibindo a série

0       Data
1    Science
2    Academy
dtype: object

In [35]:
dicionario = {'a':'Data', 'b':'Science', 'c':'Academy'} # Criando um dicionário
dicionario # Exibindo o dicionário

{'a': 'Data', 'b': 'Science', 'c': 'Academy'}

In [36]:
serie_pandas = pd.Series(dicionario) # Criando uma série a partir de um dicionário
serie_pandas # Exibindo a série

a       Data
b    Science
c    Academy
dtype: object

In [37]:
arr = np.random.randint(1,10, size = 5) # Criando um array numpy
arr # Exibindo o array

array([1, 4, 9, 1, 6])

In [38]:
serie_pandas = pd.Series(arr) # Criando uma série a partir de um array numpy
serie_pandas # Exibindo a série

0    1
1    4
2    9
3    1
4    6
dtype: int32

In [39]:
serie_pandas = pd.Series({1:'data',2:'science'}) # Criando uma série a partir de um dicionário
serie_pandas # Exibindo a série

1       data
2    science
dtype: object

In [41]:
serie_pandas[1] # Acessando o valor associado à chave 1
# serie_pandas[0] irá retornar um erro, pois não existe a chave 0

'data'

In [42]:
serie_pandas = pd.Series([1,2,3,4,5]) # Criando uma série de inteiros
serie_pandas # Exibindo a série

0    1
1    2
2    3
3    4
4    5
dtype: int64

In [43]:
serie_pandas = pd.Series([1,2,3,4,5], dtype='float') # Criando uma série de floats
serie_pandas # Exibindo a série

0    1.0
1    2.0
2    3.0
3    4.0
4    5.0
dtype: float64

In [44]:
serie_pandas = pd.Series(['Azul','Amarelo','Azul','Branco','Branco','Verde','Azul']) # Criando uma série de strings
serie_pandas # Exibindo a série

0       Azul
1    Amarelo
2       Azul
3     Branco
4     Branco
5      Verde
6       Azul
dtype: object

In [45]:
serie_pandas.unique() # Exibindo os valores únicos da série

array(['Azul', 'Amarelo', 'Branco', 'Verde'], dtype=object)

In [46]:
serie_pandas.nunique() # Exibindo a quantidade de valores únicos da série

4

In [47]:
serie_pandas = pd.Series([201,323,17,97,43,9,26,4]) # Criando uma série de inteiros
serie_pandas # Exibindo a série

0    201
1    323
2     17
3     97
4     43
5      9
6     26
7      4
dtype: int64

In [48]:
serie_pandas.nlargest(n=3) # Exibindo os 3 maiores valores da série

1    323
0    201
3     97
dtype: int64

In [49]:
serie_pandas.nsmallest(n=2) # Exibindo os 2 menores valores da série

7    4
5    9
dtype: int64

In [50]:
serie_pandas = pd.Series(['Azul','Amarelo','Azul','Branco','Branco','Verde','Azul']) # Criando uma série de strings
serie_pandas.value_counts() # Exibindo a contagem de valores da série

Azul       3
Branco     2
Amarelo    1
Verde      1
Name: count, dtype: int64

In [51]:
serie_pandas = pd.Series([1,2,3,np.nan,np.nan]) # Criando uma série com valores nulos
serie_pandas # Exibindo a série

0    1.0
1    2.0
2    3.0
3    NaN
4    NaN
dtype: float64

In [52]:
serie_pandas.isna() # Verificando quais valores são nulos

0    False
1    False
2    False
3     True
4     True
dtype: bool

In [53]:
serie_pandas.isna().sum() # Contando a quantidade de valores nulos

2

In [54]:
serie_pandas.count() # Contando a quantidade de valores não nulos

3

In [55]:
serie_pandas = pd.Series([1,2,3,4]) # Criando uma série de inteiros
serie_pandas.eq(3) # Verificando quais valores são iguais a 3

0    False
1    False
2     True
3    False
dtype: bool

In [56]:
serie_pandas.gt(2) # Verificando quais valores são maiores que 2

0    False
1    False
2     True
3     True
dtype: bool

In [58]:
serie_pandas = pd.Series([56,34,68,21,49]) # Criando uma série de inteiros
serie_pandas.mean() # Calculando a média dos valores da série

45.6

In [59]:
serie_pandas.agg(['mean','median','sum','count']) # Calculando a média, mediana, soma e quantidade de valores da série

mean       45.6
median     49.0
sum       228.0
count       5.0
dtype: float64