# Cápitulo 03 - Estudo de Caso 02

In [145]:
# Versão da Linguagem Python
from platform import python_version
print('Versão da Linguagem Python Usada Neste Jupyter Notebook:', python_version())

Versão da Linguagem Python Usada Neste Jupyter Notebook: 3.11.1

In [146]:
# Para atualizar um pacote, execute o comando abaixo no terminal ou prompt de comando:
# pip install -U nome_pacote

# Para instalar a versão exata de um pacote, execute o comando abaixo no terminal ou prompt de comando:
#!pip install nome_pacote==versão_desejada

# Depois de instalar ou atualizar o pacote, reinicie o jupyter notebook.

# Instala o pacote watermark. 
# Esse pacote é usado para gravar as versões de outros pacotes usados neste jupyter notebook.
#!pip install -q -U watermark

In [147]:
# Imports
import pandas as pd

In [148]:
# Versões dos pacotes usados neste jupyter notebook
%reload_ext watermark
%watermark -a "Data Science Academy" --iversions

Author: Data Science Academy

pandas: 2.0.3

## Carregando os Dados

In [149]:
# Carrega o dataset de escolas
dados_escolas = pd.read_csv(".arquivos_DSA/dados/dataset_escolas.csv")

In [150]:
# Shape
dados_escolas.shape

(15, 5)

In [151]:
# Visualiza
dados_escolas.head()

   ID_Escola Nome_Escola Tipo_Escola  Numero_Alunos  Orcamento_Anual
0          0    Escola A     Publica           2917          1910635
1          1    Escola B     Publica           2949          1884411
2          2    Escola C  Particular           1761          1056600
3          3    Escola D     Publica           4635          3022020
4          4    Escola E  Particular           1468           917500

In [152]:
# Dataset de estudantes
dados_estudantes = pd.read_csv(".arquivos_DSA/dados/dataset_estudantes.csv")

In [153]:
# Shape
dados_estudantes.shape

(39160, 7)

In [154]:
# Visualiza
dados_estudantes.head()

,ID_Estudante,Nome_Estudante,Genero,Serie,Nome_Escola,Nota_Redacao,Nota_Matematica
0,0,Kevin Bradley,M,6,Escola A,66,79
1,1,Paul Smith,M,9,Escola A,94,61
2,2,John Rodriguez,M,9,Escola A,90,60
3,3,Oliver Scott,M,9,Escola A,67,58
4,4,William Ray,F,6,Escola A,97,84

In [155]:
# Combina os datasets
dados_full = pd.merge(dados_estudantes, dados_escolas, how = "left", on = ["Nome_Escola", "Nome_Escola"])

In [156]:
# Shape
dados_full.shape

(39160, 11)

In [157]:
# Visualiza
dados_full.head()

,ID_Estudante,Nome_Estudante,Genero,Serie,Nome_Escola,Nota_Redacao,Nota_Matematica,ID_Escola,Tipo_Escola,Numero_Alunos,Orcamento_Anual
0,0,Kevin Bradley,M,6,Escola A,66,79,0,Publica,2917,1910635
1,1,Paul Smith,M,9,Escola A,94,61,0,Publica,2917,1910635
2,2,John Rodriguez,M,9,Escola A,90,60,0,Publica,2917,1910635
3,3,Oliver Scott,M,9,Escola A,67,58,0,Publica,2917,1910635
4,4,William Ray,F,6,Escola A,97,84,0,Publica,2917,1910635

In [158]:
# Séries escolares no dataset
dados_full["Serie"].unique()

array([6, 9, 8, 7], dtype=int64)

In [159]:
# Genero
dados_full["Genero"].unique()

array(['M', 'F'], dtype=object)

## Desafio de Análise de Dados

Responda as perguntas abaixo.

> **1- Temos dados de quantas escolas?**

In [160]:
numero_de_escolas = dados_full['Nome_Escola'].nunique() # número de escolas
numero_de_escolas # exibe o número de escolas

15

In [161]:
dados_full['Nome_Escola'].unique() # lista de escolas

array(['Escola A', 'Escola B', 'Escola C', 'Escola D', 'Escola E',
       'Escola F', 'Escola G', 'Escola H', 'Escola I', 'Escola J',
       'Escola K', 'Escola L', 'Escola M', 'Escola N', 'Escola O'],
      dtype=object)

> **2- Qual o total de registros de estudantes na base de dados?**

In [162]:
numero_de_estudantes = dados_full['ID_Estudante'].nunique() # número de estudantes
numero_de_estudantes = dados_full['ID_Estudante'].count() # número de estudantes
numero_de_estudantes # exibe o número de estudantes

39160

> **3- Qual o orçamento total considerando todas as escolas?**

In [163]:
orcamento_todas_escolas = dados_escolas['Orcamento_Anual'].sum() # orçamento anual total

In [164]:
# Verificar orçamento por escola:
orcamento_todas_escolas = dados_full.groupby("Nome_Escola")["Orcamento_Anual"].max().sum()
print(f"O orçamento total de todas as escolas é de R$ {orcamento_todas_escolas:.2f}")

O orçamento total de todas as escolas é de R$ 24649428.00

> **4- Qual a média da nota dos alunos em Redação?**

In [165]:
media_nota_redacao = dados_full['Nota_Redacao'].mean() # média das notas de redação
media_nota_redacao # exibe a média das notas de redação

81.87574055158325

> **5- Qual a média da nota dos alunos em Matemática?**

In [166]:
media_nota_matematica = dados_full['Nota_Matematica'].mean() # média das notas de matemática
media_nota_matematica # exibe a média das notas de matemática

78.98493360572012

> **6- Considerando que a nota de aprovação é 70, quantos alunos foram aprovados em Redação? (Entregue o resultado em valor absoluto e percentual)**

In [167]:
# Somar quantidade de alunos com nota maior ou igual a 70 em redação
alunos_aprovados_redacao = dados_full[(dados_full['Nota_Redacao'] >= 70)].shape[0]
print(f"O número de alunos aprovados em redação é de {alunos_aprovados_redacao}")

O número de alunos aprovados em redação é de 33600

In [168]:
# Calcular o percentual de alunos aprovados
percentual_aprovados_redacao = (alunos_aprovados_redacao / float(numero_de_estudantes)) * 100
print(f"O percentual de alunos aprovados em redação é de {percentual_aprovados_redacao:.2f}%")

O percentual de alunos aprovados em redação é de 85.80%

> **7- Considerando que a nota de aprovação é 70, quantos alunos foram aprovados em Matemática? (Entregue o resultado em valor absoluto e percentual)**

In [169]:
alunos_aprovados_matematica = dados_full[(dados_full['Nota_Matematica'] >= 70)].shape[0]
print(f"O número de alunos aprovados em matemática é de {alunos_aprovados_matematica}")

O número de alunos aprovados em matemática é de 29360

In [170]:
percentual_aprovados_matematica = (alunos_aprovados_matematica / float(numero_de_estudantes)) * 100
print(f"O percentual de alunos aprovaods em matemática é de {percentual_aprovados_matematica:.2f}%")

O percentual de alunos aprovaods em matemática é de 74.97%

> **8- Considerando que a nota de aprovação é 70, quantos alunos foram aprovados em Matemática e Redação? (Entregue o resultado em valor absoluto e percentual)**

In [171]:
alunos_aprovados_redacao_matematica = dados_full[(dados_full['Nota_Matematica'] >= 70) &
                              (dados_full['Nota_Redacao'] >= 70)].shape[0]
print(f"O número de alunos aprovados em matemática e redação é de {alunos_aprovados_redacao_matematica}")

O número de alunos aprovados em matemática e redação é de 25518

In [172]:
percentual_aprovados_redacao_matematica = (alunos_aprovados_redacao_matematica / float(numero_de_estudantes)) * 100
print(f"O percentual de alunos aprovados em matemática e redação é de {percentual_aprovados_redacao_matematica:.2f}%")

O percentual de alunos aprovados em matemática e redação é de 65.16%

> **9- Crie um dataframe com os resultados das questões de 1 a 8 que você calculou acima. (Dica: crie um dicionário e depois converta em dataframe do Pandas)**

In [173]:
dict_dados = {
    'Total de Escolas': numero_de_escolas,
    'Total de Estudantes': numero_de_estudantes,
    'Total Orçamento': orcamento_todas_escolas,
    'Nota Média em Redação': media_nota_redacao,
    'Nota Média em Matemática': media_nota_matematica,
    '% Aprovação Redação': percentual_aprovados_redacao,
    '% Aprovação Matemática': percentual_aprovados_matematica,
    '% Aprovação Total': percentual_aprovados_redacao_matematica
}

In [174]:
dict_dados # exibe o dicionário

{'Total de Escolas': 15,
 'Total de Estudantes': 39160,
 'Total Orçamento': 24649428,
 'Nota Média em Redação': 81.87574055158325,
 'Nota Média em Matemática': 78.98493360572012,
 '% Aprovação Redação': 85.80183861082737,
 '% Aprovação Matemática': 74.97446373850867,
 '% Aprovação Total': 65.16343207354444}

In [175]:
df_resultados = pd.DataFrame(dict_dados, index = [0]) # cria um dataframe com o dicionário. Index = 0 para que os dados sejam exibidos na horizontal
df_resultados # exibe o dataframe

,Total de Escolas,Total de Estudantes,Total Orçamento,Nota Média em Redação,Nota Média em Matemática,% Aprovação Redação,% Aprovação Matemática,% Aprovação Total
0,15,39160,24649428,81.875741,78.984934,85.801839,74.974464,65.163432

In [176]:
type(df_resultados) # exibe o tipo do dataframe

pandas.core.frame.DataFrame

> **10- Formate as colunas "Total de Estudantes" e "Total Orçamento" ajustando as casas decimais.**

In [177]:
df_resultados['Total de Estudantes'] = df_resultados['Total de Estudantes'].map('{:,}'.format) # formata o campo Total de Estudantes
df_resultados['Total Orçamento'] = df_resultados['Total Orçamento'].map('R$ {:,.2f}'.format) # formata o campo Total Orçamento

In [178]:
df_resultados # exibe o dataframe

,Total de Escolas,Total de Estudantes,Total Orçamento,Nota Média em Redação,Nota Média em Matemática,% Aprovação Redação,% Aprovação Matemática,% Aprovação Total
0,15,"39,160","R$ 24,649,428.00",81.875741,78.984934,85.801839,74.974464,65.163432

## Análise de Dados com Pandas

In [179]:
# Entre os alunos aprovados em redação (nota > 70), qual gênero obteve maior número de aprovações?
aprovado_redacao = dados_full[(dados_full['Nota_Redacao'] >= 70)] # filtrar alunos aprovados em redação
aprovado_redacao_por_genero = aprovado_redacao['Genero'].value_counts() # contar a quantidade de alunos aprovados por gênero
aprovado_redacao_por_genero # exibe a quantidade de alunos aprovados por gênero

Genero
F    17027
M    16573
Name: count, dtype: int64

In [180]:
# Entre os alunos aprovados em matemática (nota > 70), qual gênero obteve maior número de aprovações?
aprovado_matematica = dados_full[(dados_full['Nota_Matematica'] >= 70)] # filtrar alunos aprovados em matemática
aprovado_matematica_por_genero = aprovado_matematica['Genero'].value_counts() # contar a quantidade de alunos aprovados por gênero
aprovado_matematica_por_genero # exibe a quantidade de alunos aprovados por gênero

Genero
F    14835
M    14525
Name: count, dtype: int64

## Quais são os tipos de escolas na base de dados?

In [181]:
tipos_escolas = dados_full['Tipo_Escola'].unique()
tipos_escolas # exibe os tipos de escolas

array(['Publica', 'Particular'], dtype=object)

In [182]:
dados_escolas['Tipo_Escola'].value_counts() # exibe a quantidade de escolas por tipo

Tipo_Escola
Particular    8
Publica       7
Name: count, dtype: int64

In [183]:
tipos_escolas = dados_escolas.set_index('Nome_Escola')['Tipo_Escola'].sort_values() # ordenar os tipos de escolas
tipos_escolas # exibe os tipos de escolas

Nome_Escola
Escola C    Particular
Escola E    Particular
Escola F    Particular
Escola G    Particular
Escola I    Particular
Escola J    Particular
Escola K    Particular
Escola O    Particular
Escola A       Publica
Escola B       Publica
Escola D       Publica
Escola H       Publica
Escola L       Publica
Escola M       Publica
Escola N       Publica
Name: Tipo_Escola, dtype: object

## Qual o total de estudantes por escola?

In [184]:
qtde_aluno_por_escola = dados_full['Nome_Escola'].value_counts().sort_values() # quantidade de alunos por escola
qtde_aluno_por_escola # exibe a quantidade de alunos por escola

Nome_Escola
Escola I     427
Escola J     962
Escola E    1468
Escola O    1625
Escola C    1761
Escola K    1800
Escola G    1858
Escola F    2283
Escola N    2739
Escola A    2917
Escola B    2949
Escola L    3999
Escola D    4635
Escola M    4761
Escola H    4976
Name: count, dtype: int64

## Qual é o orçamento de cada escola por capita (por estudante)?

In [185]:
orcamento_por_escola = dados_full.groupby('Nome_Escola')['Orcamento_Anual'].mean().sort_values() # orçamento por escola
orcamento_por_escola # exibe o orçamento por escola

Nome_Escola
Escola I     248087.0
Escola J     585858.0
Escola E     917500.0
Escola O    1043130.0
Escola K    1049400.0
Escola C    1056600.0
Escola G    1081356.0
Escola F    1319574.0
Escola N    1763916.0
Escola B    1884411.0
Escola A    1910635.0
Escola L    2547363.0
Escola D    3022020.0
Escola M    3094650.0
Escola H    3124928.0
Name: Orcamento_Anual, dtype: float64

In [186]:
orcamento_per_capita = (orcamento_por_escola / qtde_aluno_por_escola).sort_values() # orçamento per capita
orcamento_per_capita # exibe o orçamento per capita

Nome_Escola
Escola F    578.000000
Escola I    581.000000
Escola G    582.000000
Escola K    583.000000
Escola C    600.000000
Escola J    609.000000
Escola E    625.000000
Escola H    628.000000
Escola L    637.000000
Escola B    639.000000
Escola O    641.926154
Escola N    644.000000
Escola M    650.000000
Escola D    652.000000
Escola A    655.000000
dtype: float64

In [187]:
dados_full.columns # exibe as colunas do dataframe

Index(['ID_Estudante', 'Nome_Estudante', 'Genero', 'Serie', 'Nome_Escola',
       'Nota_Redacao', 'Nota_Matematica', 'ID_Escola', 'Tipo_Escola',
       'Numero_Alunos', 'Orcamento_Anual'],
      dtype='object')

## Qual é a média de notas em Redação por escola?

In [188]:
media_escola_redacao = dados_full.groupby('Nome_Escola')['Nota_Redacao'].mean().sort_values() # média de redação por escola
media_escola_redacao # exibe a média de redação por escola

Nome_Escola
Escola L    80.744686
Escola N    80.746258
Escola D    80.934412
Escola M    80.966394
Escola H    81.033963
Escola B    81.158020
Escola A    81.182722
Escola C    83.725724
Escola O    83.810462
Escola I    83.814988
Escola E    83.816757
Escola K    83.955000
Escola G    83.975780
Escola F    83.989488
Escola J    84.044699
Name: Nota_Redacao, dtype: float64

## Qual é a média de notas em Matemática por escola?

In [189]:
media_escola_matematica = dados_full.groupby('Nome_Escola')['Nota_Matematica'].mean().sort_values() # média de matemática por escola
media_escola_matematica # exibe a média de matemática por escola

Nome_Escola
Escola A    76.629414
Escola B    76.711767
Escola L    76.842711
Escola H    77.048432
Escola M    77.072464
Escola N    77.102592
Escola D    77.289752
Escola G    83.061895
Escola F    83.274201
Escola E    83.351499
Escola C    83.359455
Escola O    83.435077
Escola K    83.682222
Escola I    83.803279
Escola J    83.839917
Name: Nota_Matematica, dtype: float64

## Considerando somente os alunos aprovados em redação, qual é a média de notas dos alunos por escola?

In [190]:
alunos_aprovados_em_redacao = dados_full[(dados_full['Nota_Redacao'] >= 70)] # alunos aprovados em redação
media_aprov_red_por_escola = alunos_aprovados_em_redacao.groupby('Nome_Escola')['Nota_Redacao'].mean().sort_values() # média de redação por escola
media_aprov_red_por_escola # exibe a média de redação por escola

Nome_Escola
Escola O    84.222644
Escola E    84.253156
Escola H    84.362521
Escola C    84.362559
Escola L    84.374377
Escola I    84.391727
Escola M    84.430566
Escola G    84.432612
Escola K    84.479586
Escola D    84.483725
Escola F    84.526770
Escola N    84.612799
Escola J    84.680390
Escola A    84.691400
Escola B    84.767745
Name: Nota_Redacao, dtype: float64

## Calcular porcentagem de alunos aprovados em Redação por escola

In [191]:
percentual_aprovados_redacao_por_escola = (alunos_aprovados_em_redacao['Nome_Escola'].value_counts() / qtde_aluno_por_escola).sort_values() * 100 # percentual de alunos aprovados em redação por escola
percentual_aprovados_redacao_por_escola # exibe o percentual de alunos aprovados em redação por escola

Nome_Escola
Escola N    79.299014
Escola L    80.220055
Escola B    80.739234
Escola D    80.862999
Escola M    81.222432
Escola A    81.316421
Escola H    81.933280
Escola C    95.854628
Escola J    95.945946
Escola I    96.252927
Escola F    96.539641
Escola K    96.611111
Escola G    97.039828
Escola E    97.138965
Escola O    97.292308
Name: count, dtype: float64

## Repetir para os alunos aprovados em Matemática

In [192]:
alunos_aprovados_em_matematica = dados_full[(dados_full['Nota_Matematica'] >= 70)] # alunos aprovados em matemática
media_aprov_mat_por_escola = alunos_aprovados_em_matematica.groupby('Nome_Escola')['Nota_Matematica'].mean().sort_values() # média de matemática por escola
media_aprov_mat_por_escola # exibe a média de matemática por escola

Nome_Escola
Escola G    83.972556
Escola N    84.165687
Escola A    84.240084
Escola F    84.244050
Escola B    84.310894
Escola C    84.326679
Escola L    84.339111
Escola E    84.394602
Escola H    84.505124
Escola O    84.522772
Escola J    84.719780
Escola M    84.742448
Escola K    84.758929
Escola D    84.936975
Escola I    85.040506
Name: Nota_Matematica, dtype: float64

In [193]:
percentual_aprovados_matematica_por_escola = (alunos_aprovados_em_matematica['Nome_Escola'].value_counts() / qtde_aluno_por_escola).sort_values() * 100 # percentual de alunos aprovados em matemática por escola
percentual_aprovados_matematica_por_escola # exibe o percentual de alunos aprovados em matemática por escola

Nome_Escola
Escola A    65.683922
Escola B    65.988471
Escola M    66.057551
Escola L    66.366592
Escola H    66.680064
Escola D    66.752967
Escola N    68.309602
Escola I    92.505855
Escola O    93.230769
Escola K    93.333333
Escola E    93.392371
Escola C    93.867121
Escola F    93.867718
Escola G    94.133477
Escola J    94.594595
Name: count, dtype: float64

## Repetir para os alunos aprovados em Matemática e Redação

In [194]:
alunos_aprovados_em_red_e_mat = dados_full[(dados_full['Nota_Redacao'] >= 70)
                                           & (dados_full['Nota_Matematica'] >= 70)] # alunos aprovados em redação e matemática
media_aprov_red_e_mat_por_escola = alunos_aprovados_em_red_e_mat.groupby('Nome_Escola')['Nota_Redacao'].mean().sort_values() # média de redação por escola
media_aprov_red_e_mat_por_escola # exibe a média de redação por escola

Nome_Escola
Escola E    84.221805
Escola O    84.222072
Escola C    84.260897
Escola L    84.280793
Escola H    84.336889
Escola M    84.343664
Escola G    84.414260
Escola K    84.471095
Escola I    84.482940
Escola D    84.519952
Escola F    84.569632
Escola A    84.662396
Escola N    84.747142
Escola J    84.763490
Escola B    84.797960
Name: Nota_Redacao, dtype: float64

In [195]:
percentual_aprovados_red_e_mat_por_escola = \
    (alunos_aprovados_em_red_e_mat['Nome_Escola'].value_counts() / qtde_aluno_por_escola).sort_values() * 100 # percentual de alunos aprovados em matemática por escola
percentual_aprovados_red_e_mat_por_escola # exibe o percentual de alunos aprovados em matemática por escola

Nome_Escola
Escola L    52.988247
Escola B    53.204476
Escola A    53.513884
Escola D    53.527508
Escola M    53.539172
Escola N    54.289887
Escola H    54.642283
Escola I    89.227166
Escola C    89.892107
Escola K    90.333333
Escola J    90.540541
Escola F    90.582567
Escola E    90.599455
Escola O    90.892308
Escola G    91.334769
Name: count, dtype: float64

## Construir um dataframe de resumo com as métricas calculadas acima

In [196]:
df_resumo_performance_escolar = pd.DataFrame({
    'Tipo de Escola': tipos_escolas,
    'Total Estudantes': qtde_aluno_por_escola,
    'Total Orçamento': orcamento_por_escola,
    'Orçamento Por Estudante': orcamento_per_capita,
    'Nota Média Aprovação Redação': media_escola_redacao,
    'Nota Média Aprovação Matemática': media_escola_matematica,
    '% Aprovados Redação': percentual_aprovados_redacao_por_escola,
    '% Aprovados Matemática': percentual_aprovados_matematica_por_escola,
    '% Geral Aprovados': percentual_aprovados_red_e_mat_por_escola
})

df_resumo_performance_escolar # exibe o dataframe

,Tipo de Escola,Total Estudantes,Total Orçamento,Orçamento Por Estudante,Nota Média Aprovação Redação,Nota Média Aprovação Matemática,% Aprovados Redação,% Aprovados Matemática,% Geral Aprovados
Nome_Escola,,,,,,,,,
Escola A,Publica,2917,1910635.0,655.000000,81.182722,76.629414,81.316421,65.683922,53.513884
Escola B,Publica,2949,1884411.0,639.000000,81.158020,76.711767,80.739234,65.988471,53.204476
Escola C,Particular,1761,1056600.0,600.000000,83.725724,83.359455,95.854628,93.867121,89.892107
Escola D,Publica,4635,3022020.0,652.000000,80.934412,77.289752,80.862999,66.752967,53.527508
Escola E,Particular,1468,917500.0,625.000000,83.816757,83.351499,97.138965,93.392371,90.599455
Escola F,Particular,2283,1319574.0,578.000000,83.989488,83.274201,96.539641,93.867718,90.582567
Escola G,Particular,1858,1081356.0,582.000000,83.975780,83.061895,97.039828,94.133477,91.334769
Escola H,Publica,4976,3124928.0,628.000000,81.033963,77.048432,81.933280,66.680064,54.642283
Escola I,Particular,427,248087.0,581.000000,83.814988,83.803279,96.252927,92.505855,89.227166
Escola J,Particular,962,585858.0,609.000000,84.044699,83.839917,95.945946,94.594595,90.540541
Escola K,Particular,1800,1049400.0,583.000000,83.955000,83.682222,96.611111,93.333333,90.333333
Escola L,Publica,3999,2547363.0,637.000000,80.744686,76.842711,80.220055,66.366592,52.988247
Escola M,Publica,4761,3094650.0,650.000000,80.966394,77.072464,81.222432,66.057551,53.539172
Escola N,Publica,2739,1763916.0,644.000000,80.746258,77.102592,79.299014,68.309602,54.289887
Escola O,Particular,1625,1043130.0,641.926154,83.810462,83.435077,97.292308,93.230769,90.892308

## Formatando algumas colunas

In [197]:
df_resumo_performance_escolar['Total Orçamento'] = \
    df_resumo_performance_escolar['Total Orçamento'].map('$ {:,.2f}'.format) # formata o campo Total Orçamento
df_resumo_performance_escolar['Orçamento Por Estudante'] = \
    df_resumo_performance_escolar['Orçamento Por Estudante'].map('$ {:,.2f}'.format) # formata o campo Orçamento Por Estudante

df_resumo_performance_escolar # exibe o dataframe

,Tipo de Escola,Total Estudantes,Total Orçamento,Orçamento Por Estudante,Nota Média Aprovação Redação,Nota Média Aprovação Matemática,% Aprovados Redação,% Aprovados Matemática,% Geral Aprovados
Nome_Escola,,,,,,,,,
Escola A,Publica,2917,"$ 1,910,635.00",$ 655.00,81.182722,76.629414,81.316421,65.683922,53.513884
Escola B,Publica,2949,"$ 1,884,411.00",$ 639.00,81.158020,76.711767,80.739234,65.988471,53.204476
Escola C,Particular,1761,"$ 1,056,600.00",$ 600.00,83.725724,83.359455,95.854628,93.867121,89.892107
Escola D,Publica,4635,"$ 3,022,020.00",$ 652.00,80.934412,77.289752,80.862999,66.752967,53.527508
Escola E,Particular,1468,"$ 917,500.00",$ 625.00,83.816757,83.351499,97.138965,93.392371,90.599455
Escola F,Particular,2283,"$ 1,319,574.00",$ 578.00,83.989488,83.274201,96.539641,93.867718,90.582567
Escola G,Particular,1858,"$ 1,081,356.00",$ 582.00,83.975780,83.061895,97.039828,94.133477,91.334769
Escola H,Publica,4976,"$ 3,124,928.00",$ 628.00,81.033963,77.048432,81.933280,66.680064,54.642283
Escola I,Particular,427,"$ 248,087.00",$ 581.00,83.814988,83.803279,96.252927,92.505855,89.227166
Escola J,Particular,962,"$ 585,858.00",$ 609.00,84.044699,83.839917,95.945946,94.594595,90.540541
Escola K,Particular,1800,"$ 1,049,400.00",$ 583.00,83.955000,83.682222,96.611111,93.333333,90.333333
Escola L,Publica,3999,"$ 2,547,363.00",$ 637.00,80.744686,76.842711,80.220055,66.366592,52.988247
Escola M,Publica,4761,"$ 3,094,650.00",$ 650.00,80.966394,77.072464,81.222432,66.057551,53.539172
Escola N,Publica,2739,"$ 1,763,916.00",$ 644.00,80.746258,77.102592,79.299014,68.309602,54.289887
Escola O,Particular,1625,"$ 1,043,130.00",$ 641.93,83.810462,83.435077,97.292308,93.230769,90.892308

In [198]:
df_resumo_performance_escolar.describe() # exibe estatísticas descritivas do dataframe

,Total Estudantes,Nota Média Aprovação Redação,Nota Média Aprovação Matemática,% Aprovados Redação,% Aprovados Matemática,% Geral Aprovados
count,15.000000,15.000000,15.000000,15.000000,15.000000,15.000000
mean,2610.666667,82.526623,80.433645,89.217919,80.984294,73.273847
std,1421.408339,1.516973,3.375608,8.179495,13.996232,18.988451
min,427.000000,80.744686,76.629414,79.299014,65.683922,52.988247
25%,1693.000000,81.000178,77.060448,81.042716,66.523328,53.533340
50%,2283.000000,83.725724,83.061895,95.854628,92.505855,89.227166
75%,3474.000000,83.885879,83.397266,96.575376,93.629746,90.561554
max,4976.000000,84.044699,83.839917,97.292308,94.594595,91.334769

## Considerando a taxa geral de aprovados, quais são as cinco melhores escolas?

In [199]:
top_escolas = df_resumo_performance_escolar.sort_values(by = '% Geral Aprovados', ascending = False)
top_escolas.head(5) # exibe as 5 melhores escolas

,Tipo de Escola,Total Estudantes,Total Orçamento,Orçamento Por Estudante,Nota Média Aprovação Redação,Nota Média Aprovação Matemática,% Aprovados Redação,% Aprovados Matemática,% Geral Aprovados
Nome_Escola,,,,,,,,,
Escola G,Particular,1858,"$ 1,081,356.00",$ 582.00,83.975780,83.061895,97.039828,94.133477,91.334769
Escola O,Particular,1625,"$ 1,043,130.00",$ 641.93,83.810462,83.435077,97.292308,93.230769,90.892308
Escola E,Particular,1468,"$ 917,500.00",$ 625.00,83.816757,83.351499,97.138965,93.392371,90.599455
Escola F,Particular,2283,"$ 1,319,574.00",$ 578.00,83.989488,83.274201,96.539641,93.867718,90.582567
Escola J,Particular,962,"$ 585,858.00",$ 609.00,84.044699,83.839917,95.945946,94.594595,90.540541

## Considerando a taxa geral de aprovados, quais são as cinco piores escolas?

In [200]:
bottom_escolas = df_resumo_performance_escolar.sort_values(by = '% Geral Aprovados', ascending = True) 
bottom_escolas.head(5) # exibe as 5 piores escolas

,Tipo de Escola,Total Estudantes,Total Orçamento,Orçamento Por Estudante,Nota Média Aprovação Redação,Nota Média Aprovação Matemática,% Aprovados Redação,% Aprovados Matemática,% Geral Aprovados
Nome_Escola,,,,,,,,,
Escola L,Publica,3999,"$ 2,547,363.00",$ 637.00,80.744686,76.842711,80.220055,66.366592,52.988247
Escola B,Publica,2949,"$ 1,884,411.00",$ 639.00,81.158020,76.711767,80.739234,65.988471,53.204476
Escola A,Publica,2917,"$ 1,910,635.00",$ 655.00,81.182722,76.629414,81.316421,65.683922,53.513884
Escola D,Publica,4635,"$ 3,022,020.00",$ 652.00,80.934412,77.289752,80.862999,66.752967,53.527508
Escola M,Publica,4761,"$ 3,094,650.00",$ 650.00,80.966394,77.072464,81.222432,66.057551,53.539172

In [201]:
dados_full.columns # exibe as colunas do dataframe

Index(['ID_Estudante', 'Nome_Estudante', 'Genero', 'Serie', 'Nome_Escola',
       'Nota_Redacao', 'Nota_Matematica', 'ID_Escola', 'Tipo_Escola',
       'Numero_Alunos', 'Orcamento_Anual'],
      dtype='object')

## Em cada série, qual escola teve os alunos com melhor performance em Matemática?

In [202]:
sexta_serie = dados_full[(dados_full['Serie'] == 6)] # alunos da 6ª série
setima_serie = dados_full[(dados_full['Serie'] == 7)] # alunos da 7ª série
oitava_serie = dados_full[(dados_full['Serie'] == 8)] # alunos da 8ª série
nona_serie = dados_full[(dados_full['Serie'] == 9)] # alunos da 9ª série

In [203]:
sexta_serie # exibe os alunos da 6ª série

,ID_Estudante,Nome_Estudante,Genero,Serie,Nome_Escola,Nota_Redacao,Nota_Matematica,ID_Escola,Tipo_Escola,Numero_Alunos,Orcamento_Anual
0,0,Kevin Bradley,M,6,Escola A,66,79,0,Publica,2917,1910635
4,4,William Ray,F,6,Escola A,97,84,0,Publica,2917,1910635
5,5,James Miranda,M,6,Escola A,94,94,0,Publica,2917,1910635
12,12,Sebastian Walker,F,6,Escola A,64,79,0,Publica,2917,1910635
13,13,Mateo Long,M,6,Escola A,71,79,0,Publica,2917,1910635
...,...,...,...,...,...,...,...,...,...,...,...
39140,39140,Cheyenne Hernandez,F,6,Escola O,76,99,14,Particular,1635,1043130
39146,39146,Michael Carroll,M,6,Escola O,69,95,14,Particular,1635,1043130
39152,39152,Lori Moore,F,6,Escola O,98,84,14,Particular,1635,1043130
39153,39153,William Hubbard,M,6,Escola O,80,75,14,Particular,1635,1043130
39157,39157,Kristen Gonzalez,F,6,Escola O,79,94,14,Particular,1635,1043130

In [204]:
notas_sexta_serie = sexta_serie.groupby('Nome_Escola')['Nota_Matematica'].mean() # média de matemática por escola
notas_setima_serie = setima_serie.groupby('Nome_Escola')['Nota_Matematica'].mean() # média de matemática por escola
notas_oitava_serie = oitava_serie.groupby('Nome_Escola')['Nota_Matematica'].mean() # média de matemática por escola
notas_nona_serie = nona_serie.groupby('Nome_Escola')['Nota_Matematica'].mean() # média de matemática por escola

In [205]:
notas_por_serie = pd.DataFrame({
    '6ª Série': notas_sexta_serie,
    '7ª Série': notas_setima_serie,
    '8ª Série': notas_oitava_serie,
    '9ª Série': notas_nona_serie
})
notas_por_serie # exibe o dataframe

              6ª Série   7ª Série   8ª Série   9ª Série
Nome_Escola
Escola A     77.027251  75.908735  76.446602  77.225641
Escola B     76.403037  76.539974  76.884344  77.151369
Escola C     83.420755  82.917411  83.383495  83.778976
Escola D     77.438495  77.337408  77.136029  77.186567
Escola E     82.044010  84.229064  83.842105  83.356164
Escola F     83.085578  83.724422  83.195326  83.035794
Escola G     83.094697  83.154506  82.765560  83.277487
Escola H     77.083676  76.996772  77.515588  76.492218
Escola I     83.787402  83.429825  85.000000  82.855422
Escola J     83.625455  83.372000  84.328125  84.121547
Escola K     83.264706  84.010288  83.836782  83.644986
Escola L     76.859966  76.612500  76.395626  77.690748
Escola M     77.187857  76.691117  77.491653  76.863248
Escola N     77.361345  77.672316  76.918058  76.179963
Escola O     83.605664  83.100478  83.533981  83.497024

In [206]:
notas_por_serie['6ª Série'].idxmax() # escola com a maior média de matemática na 6ª série

'Escola I'

In [207]:
notas_por_serie['7ª Série'].idxmax() # escola com a maior média de matemática na 7ª série

'Escola E'

In [208]:
notas_por_serie['8ª Série'].idxmax() # escola com a maior média de matemática na 8ª série

'Escola I'

In [209]:
notas_por_serie['9ª Série'].idxmax() # escola com a maior média de matemática na 9ª série

'Escola J'

## Considerando as faixas de gastos por estudante como sendo [0, 585, 630, 645, 680], qual faixa resulta em melhor performance?

In [210]:
df_resumo_performance_escolar.columns # exibe as colunas do dataframe

Index(['Tipo de Escola', 'Total Estudantes', 'Total Orçamento',
       'Orçamento Por Estudante', 'Nota Média Aprovação Redação',
       'Nota Média Aprovação Matemática', '% Aprovados Redação',
       '% Aprovados Matemática', '% Geral Aprovados'],
      dtype='object')

In [211]:
faixas_bins = [0, 585, 630, 645, 680] # faixas de valores
labels_faixas = ["<$585", "$585-630", "$630-645", "$645-680"] # rótulos das faixas

In [212]:
df_resumo_performance_escolar['Faixa de Gastos por Estudantes'] = \
    pd.cut(orcamento_per_capita, 
           bins = faixas_bins, labels = labels_faixas, right = False) # cria a faixa de gastos por estudante
# right = False para incluir o limite inferior e excluir o limite superior

df_resumo_performance_escolar # exibe o dataframe

,Tipo de Escola,Total Estudantes,Total Orçamento,Orçamento Por Estudante,Nota Média Aprovação Redação,Nota Média Aprovação Matemática,% Aprovados Redação,% Aprovados Matemática,% Geral Aprovados,Faixa de Gastos por Estudantes
Nome_Escola,,,,,,,,,,
Escola A,Publica,2917,"$ 1,910,635.00",$ 655.00,81.182722,76.629414,81.316421,65.683922,53.513884,$645-680
Escola B,Publica,2949,"$ 1,884,411.00",$ 639.00,81.158020,76.711767,80.739234,65.988471,53.204476,$630-645
Escola C,Particular,1761,"$ 1,056,600.00",$ 600.00,83.725724,83.359455,95.854628,93.867121,89.892107,$585-630
Escola D,Publica,4635,"$ 3,022,020.00",$ 652.00,80.934412,77.289752,80.862999,66.752967,53.527508,$645-680
Escola E,Particular,1468,"$ 917,500.00",$ 625.00,83.816757,83.351499,97.138965,93.392371,90.599455,$585-630
Escola F,Particular,2283,"$ 1,319,574.00",$ 578.00,83.989488,83.274201,96.539641,93.867718,90.582567,<$585
Escola G,Particular,1858,"$ 1,081,356.00",$ 582.00,83.975780,83.061895,97.039828,94.133477,91.334769,<$585
Escola H,Publica,4976,"$ 3,124,928.00",$ 628.00,81.033963,77.048432,81.933280,66.680064,54.642283,$585-630
Escola I,Particular,427,"$ 248,087.00",$ 581.00,83.814988,83.803279,96.252927,92.505855,89.227166,<$585
Escola J,Particular,962,"$ 585,858.00",$ 609.00,84.044699,83.839917,95.945946,94.594595,90.540541,$585-630
Escola K,Particular,1800,"$ 1,049,400.00",$ 583.00,83.955000,83.682222,96.611111,93.333333,90.333333,<$585
Escola L,Publica,3999,"$ 2,547,363.00",$ 637.00,80.744686,76.842711,80.220055,66.366592,52.988247,$630-645
Escola M,Publica,4761,"$ 3,094,650.00",$ 650.00,80.966394,77.072464,81.222432,66.057551,53.539172,$645-680
Escola N,Publica,2739,"$ 1,763,916.00",$ 644.00,80.746258,77.102592,79.299014,68.309602,54.289887,$630-645
Escola O,Particular,1625,"$ 1,043,130.00",$ 641.93,83.810462,83.435077,97.292308,93.230769,90.892308,$630-645

In [214]:
df_13_1 = df_resumo_performance_escolar.groupby('Faixa de Gastos por Estudantes')['Nota Média Aprovação Redação'].mean() # média de redação por faixa de gastos
df_13_2 = df_resumo_performance_escolar.groupby('Faixa de Gastos por Estudantes')['Nota Média Aprovação Matemática'].mean() # média de matemática por faixa de gastos
df_13_3 = df_resumo_performance_escolar.groupby('Faixa de Gastos por Estudantes')['% Aprovados Redação'].mean() # percentual de aprovados em redação por faixa de gastos
df_13_4 = df_resumo_performance_escolar.groupby('Faixa de Gastos por Estudantes')['% Aprovados Matemática'].mean() # percentual de aprovados em matemática por faixa de gastos
df_13_5 = df_resumo_performance_escolar.groupby('Faixa de Gastos por Estudantes')['% Geral Aprovados'].mean() # percentual de aprovados em geral por faixa de gastos

In [215]:
df_performance_gastos = pd.DataFrame({'Média Redação': df_13_1.round(2),
                                        'Média Matemática': df_13_2.round(2),
                                        '% Aprovados Redação': df_13_3.round(2),
                                        '% Aprovados Matemática': df_13_4.round(2),
                                        '% Geral Aprovados': df_13_5.round(2)})
df_performance_gastos # exibe o dataframe

,Média Redação,Média Matemática,% Aprovados Redação,% Aprovados Matemática,% Geral Aprovados
Faixa de Gastos por Estudantes,,,,,
<$585,83.93,83.46,96.61,93.46,90.37
$585-630,83.16,81.90,92.72,87.13,81.42
$630-645,81.61,78.52,84.39,73.47,62.84
$645-680,81.03,77.00,81.13,66.16,53.53

## Considerando as faixas de tamanho (número de alunos) das escolas como sendo [0, 1000, 2000, 5000], qual faixa resulta em melhor performance?

In [216]:
df_resumo_performance_escolar.columns # exibe as colunas do dataframe

Index(['Tipo de Escola', 'Total Estudantes', 'Total Orçamento',
       'Orçamento Por Estudante', 'Nota Média Aprovação Redação',
       'Nota Média Aprovação Matemática', '% Aprovados Redação',
       '% Aprovados Matemática', '% Geral Aprovados',
       'Faixa de Gastos por Estudantes'],
      dtype='object')

In [217]:
tamanho_bins = [0, 1000, 2000, 5000] # faixas de valores
labels_tamanho = ["Pequeno Porte (<1000)", "Médio Porte (1000-2000)", "Grande Porte (2000-5000)"] # rótulos das faixas

In [218]:
df_resumo_performance_escolar['Tamanho da Escola'] = \
    pd.cut(df_resumo_performance_escolar['Total Estudantes'], 
           bins = tamanho_bins, labels = labels_tamanho, right = False) # cria a faixa de tamanho da escola
df_resumo_performance_escolar # exibe o dataframe

,Tipo de Escola,Total Estudantes,Total Orçamento,Orçamento Por Estudante,Nota Média Aprovação Redação,Nota Média Aprovação Matemática,% Aprovados Redação,% Aprovados Matemática,% Geral Aprovados,Faixa de Gastos por Estudantes,Tamanho da Escola
Nome_Escola,,,,,,,,,,,
Escola A,Publica,2917,"$ 1,910,635.00",$ 655.00,81.182722,76.629414,81.316421,65.683922,53.513884,$645-680,Grande Porte (2000-5000)
Escola B,Publica,2949,"$ 1,884,411.00",$ 639.00,81.158020,76.711767,80.739234,65.988471,53.204476,$630-645,Grande Porte (2000-5000)
Escola C,Particular,1761,"$ 1,056,600.00",$ 600.00,83.725724,83.359455,95.854628,93.867121,89.892107,$585-630,Médio Porte (1000-2000)
Escola D,Publica,4635,"$ 3,022,020.00",$ 652.00,80.934412,77.289752,80.862999,66.752967,53.527508,$645-680,Grande Porte (2000-5000)
Escola E,Particular,1468,"$ 917,500.00",$ 625.00,83.816757,83.351499,97.138965,93.392371,90.599455,$585-630,Médio Porte (1000-2000)
Escola F,Particular,2283,"$ 1,319,574.00",$ 578.00,83.989488,83.274201,96.539641,93.867718,90.582567,<$585,Grande Porte (2000-5000)
Escola G,Particular,1858,"$ 1,081,356.00",$ 582.00,83.975780,83.061895,97.039828,94.133477,91.334769,<$585,Médio Porte (1000-2000)
Escola H,Publica,4976,"$ 3,124,928.00",$ 628.00,81.033963,77.048432,81.933280,66.680064,54.642283,$585-630,Grande Porte (2000-5000)
Escola I,Particular,427,"$ 248,087.00",$ 581.00,83.814988,83.803279,96.252927,92.505855,89.227166,<$585,Pequeno Porte (<1000)
Escola J,Particular,962,"$ 585,858.00",$ 609.00,84.044699,83.839917,95.945946,94.594595,90.540541,$585-630,Pequeno Porte (<1000)
Escola K,Particular,1800,"$ 1,049,400.00",$ 583.00,83.955000,83.682222,96.611111,93.333333,90.333333,<$585,Médio Porte (1000-2000)
Escola L,Publica,3999,"$ 2,547,363.00",$ 637.00,80.744686,76.842711,80.220055,66.366592,52.988247,$630-645,Grande Porte (2000-5000)
Escola M,Publica,4761,"$ 3,094,650.00",$ 650.00,80.966394,77.072464,81.222432,66.057551,53.539172,$645-680,Grande Porte (2000-5000)
Escola N,Publica,2739,"$ 1,763,916.00",$ 644.00,80.746258,77.102592,79.299014,68.309602,54.289887,$630-645,Grande Porte (2000-5000)
Escola O,Particular,1625,"$ 1,043,130.00",$ 641.93,83.810462,83.435077,97.292308,93.230769,90.892308,$630-645,Médio Porte (1000-2000)

In [219]:
df_14_1 = df_resumo_performance_escolar.groupby('Tamanho da Escola')['Nota Média Aprovação Redação'].mean() # média de redação por tamanho da escola
df_14_2 = df_resumo_performance_escolar.groupby('Tamanho da Escola')['Nota Média Aprovação Matemática'].mean() # média de matemática por tamanho da escola
df_14_3 = df_resumo_performance_escolar.groupby('Tamanho da Escola')['% Aprovados Redação'].mean() # percentual de aprovados em redação por tamanho da escola
df_14_4 = df_resumo_performance_escolar.groupby('Tamanho da Escola')['% Aprovados Matemática'].mean() # percentual de aprovados em matemática por tamanho da escola
df_14_5 = df_resumo_performance_escolar.groupby('Tamanho da Escola')['% Geral Aprovados'].mean() # percentual de aprovados em geral por tamanho da escola

In [220]:
df_performance_tamanho = pd.DataFrame({'Média Redação': df_14_1.round(2),
                                        'Média Matemática': df_14_2.round(2),
                                        '% Aprovados Redação': df_14_3.round(2),
                                        '% Aprovados Matemática': df_14_4.round(2),
                                        '% Geral Aprovados': df_14_5.round(2)})
df_performance_tamanho # exibe o dataframe

,Média Redação,Média Matemática,% Aprovados Redação,% Aprovados Matemática,% Geral Aprovados
Tamanho da Escola,,,,,
Pequeno Porte (<1000),83.93,83.82,96.10,93.55,89.88
Médio Porte (1000-2000),83.86,83.38,96.79,93.59,90.61
Grande Porte (2000-5000),81.34,77.75,82.77,69.96,58.29

## Qual o impacto do tipo de escola na performance dos alunos?

In [221]:
df_resumo_performance_escolar.columns # exibe as colunas do dataframe

Index(['Tipo de Escola', 'Total Estudantes', 'Total Orçamento',
       'Orçamento Por Estudante', 'Nota Média Aprovação Redação',
       'Nota Média Aprovação Matemática', '% Aprovados Redação',
       '% Aprovados Matemática', '% Geral Aprovados',
       'Faixa de Gastos por Estudantes', 'Tamanho da Escola'],
      dtype='object')

In [225]:
df_15_1 = df_resumo_performance_escolar.groupby('Tipo de Escola')['Nota Média Aprovação Redação'].mean() # média de redação por tipo de escola
df_15_2 = df_resumo_performance_escolar.groupby('Tipo de Escola')['Nota Média Aprovação Matemática'].mean() # média de matemática por tipo de escola
df_15_3 = df_resumo_performance_escolar.groupby('Tipo de Escola')['% Aprovados Redação'].mean() # percentual de aprovados em redação por tipo de escola
df_15_4 = df_resumo_performance_escolar.groupby('Tipo de Escola')['% Aprovados Matemática'].mean() # percentual de aprovados em matemática por tipo de escola
df_15_5 = df_resumo_performance_escolar.groupby('Tipo de Escola')['% Geral Aprovados'].mean() # percentual de aprovados em geral por tipo de escola

In [227]:
df_performance_tipo_escola = pd.DataFrame({'Média Redação': df_15_1.round(2),
                                        'Média Matemática': df_15_2.round(2),
                                        '% Aprovados Redação': df_15_3.round(2),
                                        '% Aprovados Matemática': df_15_4.round(2),
                                        '% Geral Aprovados': df_15_5.round(2)})
df_performance_tipo_escola # exibe o dataframe

,Média Redação,Média Matemática,% Aprovados Redação,% Aprovados Matemática,% Geral Aprovados
Tipo de Escola,,,,,
Particular,83.89,83.48,96.58,93.62,90.43
Publica,80.97,76.96,80.80,66.55,53.67

In [228]:
df_resumo_performance_escolar.to_excel('.arquivos_DSA/dados/df_resumo_performance_escolar.xlsx') # salva o dataframe em um arquivo Excel