# Cápitulo 05 - Estudo de Caso 04

Engenharia de Atributos

In [4]:
# Importando bibliotecas:
from platform import python_version
print('Versão Python:', python_version(), '\n')

import scipy
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from scipy import stats
import warnings
warnings.filterwarnings('ignore')

%reload_ext watermark
%watermark -a "gustavogzr" --iversions

Versão Python: 3.12.4

Author: gustavogzr

pandas    : 2.2.2
seaborn   : 0.13.2
numpy     : 2.0.0
scipy     : 1.14.0
matplotlib: 3.9.1

In [5]:
## Configurando o estilo dos gráficos:
from matplotlib import rcParams # rcParams: dicionário de configurações padrão para matplotlib

rcParams['figure.figsize'] = 15, 8 # Configurando o tamanho padrão das figuras
rcParams['lines.linewidth'] = 3 # Configurando a espessura das linhas
rcParams['xtick.labelsize'] = 'x-large' # Configurando o tamanho dos labels no eixo x
rcParams['ytick.labelsize'] = 'x-large' # Configurando o tamanho dos labels no eixo y

## Carregando o dataset

In [7]:
df = pd.read_csv('.arquivos_DSA/dados/dataset.csv')
df.head()

,ID,corredor_armazem,modo_envio,numero_chamadas_cliente,avaliacao_cliente,custo_produto,compras_anteriores,prioridade_produto,genero,desconto,peso_gramas,entregue_no_prazo
0,1,D,Aviao,4,2,177,3,baixa,F,44,1233,1
1,2,F,Aviao,4,5,216,2,baixa,M,59,3088,1
2,3,A,Aviao,2,2,183,4,baixa,M,48,3374,1
3,4,B,Aviao,3,3,176,4,media,M,10,1177,1
4,5,C,Aviao,2,2,184,3,media,F,46,2484,1

In [8]:
df.shape # Verificando o tamanho do dataset

(11000, 12)

In [9]:
df.info() # Verificando os tipos de dados

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11000 entries, 0 to 10999
Data columns (total 12 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   ID                       11000 non-null  int64
 1   corredor_armazem         11000 non-null  object
 2   modo_envio               11000 non-null  object
 3   numero_chamadas_cliente  11000 non-null  int64
 4   avaliacao_cliente        11000 non-null  int64
 5   custo_produto            11000 non-null  int64
 6   compras_anteriores       11000 non-null  int64
 7   prioridade_produto       11000 non-null  object
 8   genero                   11000 non-null  object
 9   desconto                 11000 non-null  int64
 10  peso_gramas              11000 non-null  int64
 11  entregue_no_prazo        11000 non-null  int64
dtypes: int64(8), object(4)
memory usage: 1.0+ MB

In [11]:
nums = ['numero_chamadas_cliente',
        'avaliacao_cliente',
        'custo_produto',
        'compras_anteriores',
        'desconto',
        'peso_gramas']
df[nums].head()

,numero_chamadas_cliente,avaliacao_cliente,custo_produto,compras_anteriores,desconto,peso_gramas
0,4,2,177,3,44,1233
1,4,5,216,2,59,3088
2,2,2,183,4,48,3374
3,3,3,176,4,10,1177
4,2,2,184,3,46,2484

In [12]:
cats = ['modo_envio',
        'prioridade_produto',
        'genero',
        'corredor_armazem']
df[cats].head()

  modo_envio prioridade_produto genero corredor_armazem
0      Aviao              baixa      F                D
1      Aviao              baixa      M                F
2      Aviao              baixa      M                A
3      Aviao              media      M                B
4      Aviao              media      F                C

In [13]:
target = ['entregue_no_prazo']
df[target].head()

   entregue_no_prazo
0                  1
1                  1
2                  1
3                  1
4                  1

In [14]:
df[nums].describe()

,numero_chamadas_cliente,avaliacao_cliente,custo_produto,compras_anteriores,desconto,peso_gramas
count,11000.000000,11000.000000,11000.000000,11000.000000,11000.000000,11000.000000
mean,4.054455,2.990455,210.200909,3.567727,13.372545,3633.844455
std,1.141438,1.413570,48.062985,1.522852,16.204943,1635.402722
min,2.000000,1.000000,96.000000,2.000000,1.000000,1001.000000
25%,3.000000,2.000000,169.000000,3.000000,4.000000,1839.000000
50%,4.000000,3.000000,214.000000,3.000000,7.000000,4149.000000
75%,5.000000,4.000000,251.000000,4.000000,10.000000,5050.000000
max,7.000000,5.000000,310.000000,10.000000,65.000000,7846.000000

In [15]:
df[cats].describe()

       modo_envio prioridade_produto genero corredor_armazem
count       11000              11000  11000            11000
unique          3                  3      2                5
top         Navio              baixa      F                F
freq         7463               5298   5546             3666

In [16]:
df[target].value_counts() # Verificando o balanceamento da variável target

entregue_no_prazo
1                    6563
0                    4437
Name: count, dtype: int64

## Limpeza de Dados

In [17]:
df.isna().sum() # Verificando a quantidade de valores nulos

ID                         0
corredor_armazem           0
modo_envio                 0
numero_chamadas_cliente    0
avaliacao_cliente          0
custo_produto              0
compras_anteriores         0
prioridade_produto         0
genero                     0
desconto                   0
peso_gramas                0
entregue_no_prazo          0
dtype: int64

## Tratamento de Valores Duplicados

In [18]:
df.duplicated().sum() # Verificando a quantidade de valores duplicados

np.int64(0)

## Tratamento de Valores Outliers