# Lab 1 - Distribuição de Frequências

In [1]:
# Importando bibliotecas:
from platform import python_version
print('Versão Python:', python_version(), '\n')

import pandas as pd

%reload_ext watermark
%watermark -a "gustavogzr" --iversions

Versão Python: 3.11.1

Author: gustavogzr

pandas: 2.0.3

In [2]:
notas_alunos = [92, 81, 100, 92, 71, 73, 100, 92, 84, 100, 73, 92, 73, 84, 92, 92, 92, 84, 73, 100]
len(notas_alunos)

20

## Solução com Series em Pandas

In [7]:
df1 = pd.Series(notas_alunos).value_counts().reset_index().sort_values('index').reset_index(drop=True)
df1

   index  count
0     71      1
1     73      4
2     81      1
3     84      3
4     92      7
5    100      4

In [8]:
type(df1)

pandas.core.frame.DataFrame

In [9]:
df1.columns = ['Nota', 'Frequência']
df1

   Nota  Frequência
0    71           1
1    73           4
2    81           1
3    84           3
4    92           7
5   100           4

In [16]:
df1 = pd.Series(notas_alunos).value_counts(bins=3).reset_index().sort_values('index').reset_index(drop=True)
# bins=3: divide os dados em 3 intervalos
df1.columns = ['Nota', 'Frequência']
df1

               Nota  Frequência
0   (70.97, 80.667]           5
1  (80.667, 90.333]           4
2   (90.333, 100.0]          11

## Distribuição de Frequência Simples ou Absoluta

In [23]:
df2 = pd.value_counts(notas_alunos).to_frame(name = 'fi').rename_axis('Nota').sort_index()
df2

      fi
Nota
71     1
73     4
81     1
84     3
92     7
100    4

## Distribuição de Frequência Relativa Simples

In [24]:
df2['fri'] = df2['fi'] / len(notas_alunos)
df2

      fi   fri
Nota
71     1  0.05
73     4  0.20
81     1  0.05
84     3  0.15
92     7  0.35
100    4  0.20

## Distribuição de Frequência Acumulada

In [25]:
df2['Fi'] = df2['fi'].cumsum()
# cumsum(): retorna a soma cumulativa dos elementos
df2

      fi   fri  Fi
Nota
71     1  0.05   1
73     4  0.20   5
81     1  0.05   6
84     3  0.15   9
92     7  0.35  16
100    4  0.20  20

## Distribuição de Frequência Relativa Acumulada

In [26]:
df2['Fri'] = df2['fri'].cumsum()
df2

      fi   fri  Fi   Fri
Nota
71     1  0.05   1  0.05
73     4  0.20   5  0.25
81     1  0.05   6  0.30
84     3  0.15   9  0.45
92     7  0.35  16  0.80
100    4  0.20  20  1.00