# Laboratório - Capítulo 8

In [1]:
# Importando bibliotecas:
from platform import python_version
print('Versão Python:', python_version(), '\n')

import pandas as pd
import numpy as np
import scipy.stats as stats

%reload_ext watermark
%watermark -a "gustavogzr" --iversions

Versão Python: 3.11.1

Author: gustavogzr

numpy : 1.25.2
pandas: 2.0.3
scipy : 1.11.1

In [3]:
# carregar os dados
df = pd.read_csv('.arquivos_DSA/dados/dataset.csv')
df.sample(5)

,id_cliente,genero,canal_atendimento,regiao,estado_civil,segmento,consumo_medio_mensal_antes_upgrade,consumo_medio_mes_anterior_ao_upgrade,consumo_medio_primeiro_mes_apos_upgrade,consumo_medio_segundo_mes_apos_upgrade
168,186,1,4,2,2,2,57,75.6,62,68.2
170,119,1,4,1,1,1,42,54.0,57,62.7
12,95,0,4,3,1,2,73,85.2,60,66.0
46,49,0,3,3,1,3,50,46.8,40,44.0
69,18,0,1,2,1,3,50,58.8,33,36.3

In [4]:
df.columns

Index(['id_cliente', 'genero', 'canal_atendimento', 'regiao', 'estado_civil',
       'segmento', 'consumo_medio_mensal_antes_upgrade',
       'consumo_medio_mes_anterior_ao_upgrade',
       'consumo_medio_primeiro_mes_apos_upgrade',
       'consumo_medio_segundo_mes_apos_upgrade'],
      dtype='object')

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 200 entries, 0 to 199
Data columns (total 10 columns):
 #   Column                                   Non-Null Count  Dtype
---  ------                                   --------------  -----
 0   id_cliente                               200 non-null    int64
 1   genero                                   200 non-null    int64
 2   canal_atendimento                        200 non-null    int64
 3   regiao                                   200 non-null    int64
 4   estado_civil                             200 non-null    int64
 5   segmento                                 200 non-null    int64
 6   consumo_medio_mensal_antes_upgrade       200 non-null    int64
 7   consumo_medio_mes_anterior_ao_upgrade    200 non-null    float64
 8   consumo_medio_primeiro_mes_apos_upgrade  200 non-null    int64
 9   consumo_medio_segundo_mes_apos_upgrade   200 non-null    float64
dtypes: float64(2), int64(8)
memory usage: 15.8 KB

In [6]:
df.describe()

,id_cliente,genero,canal_atendimento,regiao,estado_civil,segmento,consumo_medio_mensal_antes_upgrade,consumo_medio_mes_anterior_ao_upgrade,consumo_medio_primeiro_mes_apos_upgrade,consumo_medio_segundo_mes_apos_upgrade
count,200.000000,200.00000,200.000000,200.000000,200.000000,200.000000,200.000000,200.000000,200.000000,200.000000
mean,100.500000,0.54500,3.430000,2.055000,1.160000,2.025000,52.230000,63.174000,52.775000,58.052500
std,57.879185,0.49922,1.039472,0.724291,0.367526,0.690477,10.252937,11.242137,9.478586,10.426445
min,1.000000,0.00000,1.000000,1.000000,1.000000,1.000000,28.000000,39.600000,31.000000,34.100000
25%,50.750000,0.00000,3.000000,2.000000,1.000000,2.000000,44.000000,54.000000,45.750000,50.325000
50%,100.500000,1.00000,4.000000,2.000000,1.000000,2.000000,50.000000,62.400000,54.000000,59.400000
75%,150.250000,1.00000,4.000000,3.000000,1.000000,2.250000,60.000000,70.800000,60.000000,66.000000
max,200.000000,1.00000,4.000000,3.000000,2.000000,3.000000,76.000000,90.000000,67.000000,73.700000

## Pergunta 1: 

O consumo médio de largura de banda do mês anterior ao upgrade foi maior que 50?

Hipóteses:

- H0: o consumo médio antes do upgrade foi igual a 50.
- H1: o consumo médio antes do upgrade foi diferente de 50.

In [15]:
# Executar o teste de hipótese
stats.ttest_1samp(
    a = df.consumo_medio_mes_anterior_ao_upgrade,
    popmean = 50
)
# ttest_1samp calcula o teste t de uma amostra de uma população com média conhecida
# a é a amostra
# popmean é a média da população

TtestResult(statistic=16.57233752433133, pvalue=2.4963719280931583e-39, df=199)

Como p-value foi menor que 0,05, rejeitamos a hipótese nula e concluímos que o consumo médio de largura de banda do mês anterior ao upgrade foi diferente de 50.

In [9]:
# Conferir a média da amostra
df.consumo_medio_mes_anterior_ao_upgrade.mean()

63.174

## Pergunta 2:

Houve diferença no consumo médio de largura de banda antes e depois do upgrade, considerando o primeiro mês após o upgrade?

Hipóteses:

- H0: o consumo médio antes do upgrade foi igual ao consumo médio após o upgrade.
- H1: o consumo médio antes do upgrade foi diferente do consumo médio após o upgrade.

In [20]:
# Executando o teste de hipótese:
stats.ttest_rel(
    a = df.consumo_medio_mensal_antes_upgrade,
    b = df.consumo_medio_primeiro_mes_apos_upgrade
)
# ttest_rel calcula o teste t de duas amostras relacionadas
# a é a primeira amostra
# b é a segunda amostra

TtestResult(statistic=-0.8673065458794775, pvalue=0.3868186820914985, df=199)

Como p-value é maior que 0,05, não rejeitamos a hipótese nula. Logo, o consumo médio de largura de banda antes do upgrade foi similar ao consumo médio no primeiro mês após o upgrade.

In [21]:
# Conferir médias das amostras
print(df.consumo_medio_mensal_antes_upgrade.mean())
print(df.consumo_medio_primeiro_mes_apos_upgrade.mean())

52.23
52.775

## Pergunta 3:

O gênero do cliente influencia no consumo médio de largura de banda no primeiro mês após o upgrade?

Hipóteses:

- H0: o gênero do cliente não influencia no consumo médio de largura de banda no primeiro mês após o upgrade.
- H1: o gênero do cliente influencia no consumo médio de largura de banda no primeiro mês após o upgrade.

In [22]:
# Separando as amostras
consumo_cliente_masculino = df.consumo_medio_primeiro_mes_apos_upgrade[df.genero == 0]
print(consumo_cliente_masculino.head())
consumo_cliente_feminino = df.consumo_medio_primeiro_mes_apos_upgrade[df.genero == 1]
print(consumo_cliente_feminino.head())

0    52
2    33
3    44
4    52
5    52
Name: consumo_medio_primeiro_mes_apos_upgrade, dtype: int64
1     59
92    62
93    44
94    44
95    62
Name: consumo_medio_primeiro_mes_apos_upgrade, dtype: int64

In [23]:
# Calcular média das amostras:
print('O consumo médio dos clientes masculinos é de:', consumo_cliente_masculino.mean())
print('O consumo médio dos clientes femininos é de:', consumo_cliente_feminino.mean())

O consumo médio dos clientes masculinos é de: 50.120879120879124
O consumo médio dos clientes femininos é de: 54.99082568807339

In [24]:
# Calcular as variâncias das amostras:
print('A variância dos consumos dos clientes masculinos é de:', consumo_cliente_masculino.var())
print('A variância dos consumos dos clientes femininos é de:', consumo_cliente_feminino.var())

A variância dos consumos dos clientes masculinos é de: 106.196336996337
A variância dos consumos dos clientes femininos é de: 66.15732246007475

In [25]:
# Executar o teste de hipótese:
stats.ttest_ind(
    a = consumo_cliente_masculino,
    b = consumo_cliente_feminino,
    equal_var = False
)
# ttest_ind calcula o teste t de duas amostras independentes
# a é a primeira amostra
# b é a segunda amostra
# equal_var é um parâmetro que indica se as variâncias das amostras são iguais. 
# Neste caso, False indica que as variâncias são diferentes conforme calculado acima

TtestResult(statistic=-3.656408047887528, pvalue=0.000340884935942662, df=169.7073800375754)

Como p-valir < 0.05, rejeitamos a hipótese nula de que as médias são iguais e concluímos que o gênero influencia no consumo médio mensal

# Pergunta 4:

Há alguma relação entre região e segmento de clientes?

Hipóteses:

- H0: não há relação entre região e segmento de clientes.
- H1: há relação entre região e segmento de clientes.

In [27]:
# Tabela de contingência
tabela_contingencia = pd.crosstab(df.segmento, df.regiao, margins=True)
# crosstab cria uma tabela de contingência
# segmento é a primeira variável
# regiao é a segunda variável
# margins = True adiciona a linha e a coluna de totais
tabela_contingencia

regiao     1   2   3  All
segmento
1         16  20   9   45
2         19  44  42  105
3         12  31   7   50
All       47  95  58  200

In [29]:
# Executar teste qui-quadrado
chi2, p, dof, ex = stats.chi2_contingency(observed=tabela_contingencia)
# chi2_contingency calcula o teste qui-quadrado de independência
# observed é a tabela de contingência
# chi2 é o valor qui-quadrado
# p é o valor p-value
# dof é o grau de liberdade
# ex é a tabela de contingência esperada
print('Valor qui-quadrado:', chi2)
print('Valor p:', p)
print('Grau de liberdade:', dof)
print('Tabela de contingência esperada:\n', ex)

Valor qui-quadrado: 16.60444164948934
Valor p: 0.05528293948799236
Grau de liberdade: 9
Tabela de contingência esperada:
 [[ 10.575  21.375  13.05   45.   ]
 [ 24.675  49.875  30.45  105.   ]
 [ 11.75   23.75   14.5    50.   ]
 [ 47.     95.     58.    200.   ]]

Como o valor-p é maior que 0.05, falhamos em rejeitar a hipótese nula e concluímos que não há relação entre região e segmento de clientes.